<!-- Main content area -->
<div class="container-fluid" ng-controller="HelpCtrl">

<h3 class="text-center">EdgeRocket User Guide</h3>

<p class="voffset4 text-center">Questions, issues, or feedback?  Contact <a href="mailto:support@edgerocket.co">support@edgerocket.co</a><p>

<h4 class="voffset4">1. Terminology</h4>

<p>Playlist: a collection of courses or educational items on a topic</p>

<p>Course: depending on context, it can be an online course or another educational item such as an article, a book, or a video.</p>

<h4>2. Company Playlists</h4>

<p>Company Playlists are available for all company employees. Employees can subscribe to any playlists. When an employee subscribes to a playlists, all courses associated with that playlists become assigned to the employee.</p>

<h4>3. My Courses</h4>

<p>The My Courses section contains all courses associated with an employee who is currently logged in.</p>

</div>