<div class="container-fluid" ng-controller="TeamsCtrl">
  <div class="row">
    <div class="col-lg-12">

    <span class="pull-right">EdgeRocket Application v.<%= @AppVersion %></span>
    <!-- TODO implement -->

    </div>
  </div>
</div>