<!-- Modal Security settings window -->
<script type="text/ng-template" id="userSecurity.html">
  <div class="modal-header">
    <h4>Security Settings</h4>
  </div>
  <div class="modal-body">
    <!-- TODO: implement -->
  </div>
  <div class="modal-footer">
      <button class="btn btn-success" ng-click="save()">Save</button>
      <button class="btn btn-warning" ng-click="cancel()">Close</button>
  </div>
</script>


<!-- Main content area -->
<div class="container-fluid" ng-controller="EmployeesCtrl">

  <!-- A row to enter values for new record -->
  <div class="row" ng-if="editModeIndex < 0">
    <div class="col-lg-12">

      <div class="panel panel-info"> <!-- Employees New mode -->
        <div class="panel-heading">Add Employee</div>
        <div class="panel-body">
    
          <form role="form" name="addForm">
              <div class="row">
                <div class="col-md-4">
                  <input type="text" class="form-control-user form-control" name="newEmplEmail" 
                    placeholder="New User Email" ng-model="newUser.email" required>
                  </input>
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control-user form-control" name="newEmplFirstName" 
                    placeholder="First Name" ng-model="newUser.first_name">
                  </input>
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control form-control-user" 
                    placeholder="Last Name" ng-model="newUser.last_name">
                  </input>
                </div>
              </div> <!-- Row -->
              <div class="row voffset2">
                <div class="col-md-4">
                  <input type="password" class="form-control form-control-user" name="newEmplPassword" 
                    placeholder="User Password" ng-model="newUser.password" required>
                  </input>
                </div>
                <div class="col-md-4">
                  <input type="password" class="form-control form-control-user" name="newEmplPassword2" 
                    placeholder="Confirm Password" ng-model="newUser.password2" required>
                  </input>
                </div>
                <div class="col-md-4">
                  <span class="glyphicon glyphicon-{{newUser.reset_required_class}} glyph-big glyph-action" ng-click="toggleResetRequired()"></span>
                  <span class="glyph-label text-cell">Require password reset</span>
                </div>
              </div>
              <div class="row voffset2">
                <div class="col-md-6">
                  <span class="error red" ng-show="addForm.newEmplEmail.$error.required">* Email required</span>
                  <br/>
                  <span class="error red" ng-show="addForm.newEmplPassword.$error.required">* Password required, 8 characters minimum</span>
                </div>
                <div class="col-md-6">
                  <button class="btn btn-success pull-right" ng-click="createUser()">Create new User</button>
                </div>
              </div>
          </form>
        </div>
      </div> <!-- Panel --> 
      
    </div>
  </div> <!-- Row -->

  <div class="row">
    <div class="col-lg-12">

      <div class="panel panel-info"> <!-- Employees CRUD mode -->
        <div class="panel-heading">Employees</div>
        <div class="panel-body">
          <form role="form">
            <div class="row" ng-repeat="u in users" ng-class-even="'bg-color-even-gray'">

              <!-- List mode -->
              <div class="col-md-4" ng-if="editModeIndex != $index">
                <span class="text-cell">{{u.email}}</span>
              </div>

              <div class="col-md-1" ng-if="editModeIndex != $index">
                <span class="glyphicon glyphicon-warning-sign glyph-big yellow" 
                  ng-if="u.reset_required" tooltip="Reset password required">
                </span>
              </div>

              <div class="col-md-5" ng-if="editModeIndex != $index">
                <span class="text-cell">{{u.first_name}}</span>
                <span class="text-cell">{{u.last_name}}</span>
              </div>

              <div class="col-md-2"  ng-if="editModeIndex != $index"> 
                <span class="pull-right">
                  <span class="glyphicon glyphicon-edit glyph-big glyph-action" 
                    ng-click="editUser(u,$index)" tooltip="Edit User">
                  </span>
                  <span class="glyphicon glyphicon-cog glyph-big glyph-action" 
                    ng-click="changeUserSecurity(u,$index)" tooltip="Change password and security settings">
                  </span>
                  <span class="glyphicon glyphicon-trash glyph-big glyph-action red" 
                    ng-click="removeUser(u,$index)" tooltip="Remove User">
                  </span>
                </span>
              </div>

              <!-- Inline Edit mode -->
              <div class="col-md-4" ng-if="editModeIndex == $index">
                <input type="text" class="form-control" placeholder="User Email" 
                  ng-model="u.email">
                </input>
              </div>

              <div class="col-md-1" ng-if="editModeIndex == $index">
              </div>

              <div class="col-md-5" ng-if="editModeIndex == $index">
                <input type="text" class="form-control form-control-49pct" placeholder="First Name" 
                  ng-model="u.first_name">
                </input>
                <input type="text" class="form-control form-control-49pct" placeholder="Last Name" 
                  ng-model="u.last_name">
                </input>
              </div>

              <div class="col-md-2" ng-if="editModeIndex == $index"> 
                <span class="pull-right">
                  <span class="glyphicon glyphicon-save glyph-big glyph-action green" 
                    tooltip="Update User" ng-click="updateUser(u,$index)">
                  </span>
                  <span class="glyphicon glyphicon-ban-circle glyph-big glyph-action yellow" 
                    tooltip="Cancel editing User" ng-click="cancelEditingUser()">
                  </span>
                </span>
              </div>

            </div>
          </form>
        </div>
      </div> <!-- Panel -->
    </div>
  </div> <!-- Row -->

</div>