<!-- Grid Cell template for user name -->
<script type="text/ng-template" id="cellFirstName.html">
  <div class="ngCellText">
    <span>{{row.getProperty(col.field)}}</span>
  </div>
</script>

<!-- Grid Cell template for user name -->
<script type="text/ng-template" id="cellLastName.html">
  <div class="ngCellText">
    <span>{{row.getProperty(col.field)}}</span>
  </div>
</script>

<!-- Grid Cell template for Flags (password reset, etc.  -->
<script type="text/ng-template" id="cellFlags.html">
  <div class="ngCellText text-center">
    <span class="glyphicon glyphicon-warning-sign glyph-big orange" 
      ng-if="row.getProperty(col.field)" tooltip="Password reset required" tooltip-append-to-body="true">
    </span>
  </div>
</script>

<!-- Grid Cell template for Actions -->
<script type="text/ng-template" id="cellActions.html">
  <div class="ngCellText text-center">
    <span class="glyphicon glyphicon-edit glyph-big glyph-action" 
      ng-click="editUser(row.getProperty(col.field))" tooltip="Edit User" tooltip-append-to-body="true">
    </span>
    <span class="glyphicon glyphicon-trash glyph-big glyph-action red" 
      ng-click="removeUser(row.getProperty(col.field))" tooltip="Delete User" tooltip-append-to-body="true">
    </span>
  </div>
</script>

<!-- Main content area -->
<div class="container-fluid" ng-controller="EmployeesCtrl">

  <!-- A row to enter values for User record -->
  <div class="row">
    <div class="col-lg-12">

      <div class="panel panel-info"> <!-- Employees New mode -->
        <div class="panel-heading" ng-if="editModeIndex < 0">Add User</div>
        <div class="panel-heading" ng-if="editModeIndex >= 0">Edit User</div>
        <div class="panel-body">
    
          <form role="form" name="addForm">

              <div class="row">
                <div class="col-md-4">
                  <input type="text" class="form-control-user form-control" name="newEmplEmail" 
                    placeholder="User Email" ng-model="newUser.email" required>
                  </input>
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control-user form-control" name="newEmplFirstName" 
                    placeholder="First Name" ng-model="newUser.first_name">
                  </input>
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control form-control-user" 
                    placeholder="Last Name" ng-model="newUser.last_name">
                  </input>
                </div>
              </div> <!-- Row -->

              <div class="row voffset2">
                <div class="col-md-4">
                  <input type="password" class="form-control form-control-user" name="newEmplPassword" 
                    placeholder="User Password" ng-model="newUser.password">
                  </input>
                </div>
                <div class="col-md-4">
                  <input type="password" class="form-control form-control-user" name="newEmplPassword2" 
                    placeholder="Confirm Password" ng-model="newUser.password2">
                  </input>
                </div>
                <div class="col-md-4 text-cell">
                  <span class="glyphicon glyphicon-{{newUser.reset_required_class}} glyph-big glyph-action" ng-click="toggleResetRequired()"></span>
                  <span class="glyph-label">Require password reset</span>
                </div>
              </div> <!-- Row -->

              <div class="row voffset3">
                <div class="col-md-6">
                  <span class="error red" ng-show="addForm.newEmplEmail.$error.required">* Email required</span>
                  <br/>
                  <span class="error red" ng-show="addForm.newEmplPassword.$error.required">* Password required, 8 characters minimum</span>
                </div>
                <div class="col-md-6">
                  <div class="pull-right">
                    <button class="btn btn-sm btn-success" ng-click="createUser()" ng-if="editModeIndex < 0">
                      Create new User
                    </button>
                    <button class="btn btn-sm btn-success" ng-click="updateUser()" ng-if="editModeIndex >= 0">
                      Save Changes
                    </button>
                    <button class="btn btn-sm btn-warning" ng-click="cancelEditingUser()" ng-if="editModeIndex >= 0">
                      Cancel
                    </button>
                  </div>
                </div>
              </div> <!-- Row -->

          </form>
        </div>
      </div> <!-- Panel --> 
      
    </div>
  </div> <!-- Row -->

  <div class="gridStyle" ng-grid="gridOptions"></div>

</div>