<!-- Modal Details window -->
<script type="text/ng-template" id="searchModalDetails.html">
  <div class="modal-header">
      <h4>{{ course.pname }}</h4>
  </div>
  <div class="modal-body">
    <div class="rating-right">
      <rating class="orange" ng-model="course.display_rating" max="5" readonly="true"></rating>
    </div>
    <img ng-src="{{ course.logo_asset_url }}" ng-show="course.logo_asset_url" class="img-provider-logo"></img>
    <div class="voffset2">{{ course.authors }}</div>
    <div class="voffset2">{{ course.school }}</div>
    <div class="well well-sm" ng-if="course_description != null && course_description != ''">{{ course_description }}</div>
    <div class="text-right">
      <span>{{ course.price_fmt }}</span></div>
  </div>
  <div class="modal-footer">

      <div class="btn-group btn-playlists" dropdown is-open="status.isopen" ng-if="user.admin_role">
        <button type="button" class="btn btn-sm btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
          Add to Playlist <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li class="btn-success" ng-repeat="pl in pl_data.playlists">
            <a href="#" ng-click="addToPlaylist(course,pl)">{{pl.title}}</a>
          </li>
        </ul>
      </div>

      <button class="btn btn-sm btn-success" ng-click="enroll()">Add to Wishlist</button>
      <button class="btn btn-sm btn-success" ng-click="goto()">Go to course</button>
      <button class="btn btn-sm btn-warning" ng-click="cancel()">Close</button>

      <div class="alert-simple" ng-repeat="a in alerts">{{a.msg}}</div>
  </div>
</script>

<!-- Results area -->
<div class="container-fluid" ng-controller="SearchCtrl">

  <div class="row">

    <form>
  
      <div class="col-md-10 col-md-offset-1">

        <div class="row" ng-show="advancedSearch==false">

          <div class="col-md-8">
            <input type="text" class="form-control" placeholder="Keywords to search" ng-model="searchText" />
            <div class="voffset1">
              <span class="label label-default">found {{totalItems}} items</span>
            </div>
          </div>

          <div class="col-md-3">
            <button class="form-control btn-md btn-success" ng-click="doSearch()">{{searchLabel}}</button>
            <div class="voffset1 pull-right"><a href="#" ng-click="toggleSearchMode()">Advanced search</a></div>
          </div>

        </div>

        <div class="row" ng-show="advancedSearch==true">

          <div class="col-md-11">
            <input type="text" class="form-control" placeholder="Text to search" ng-model="searchText"/>
          </div>

        </div>

        <div class="row voffset2" ng-show="advancedSearch==true">

          <div class="col-md-4">
            <div class="well well-sm">
              <div>
                <span class="glyph-label-inline">Media Types: </span>
                <a href="#" ng-click="toggleMediaAll(true)">select all</a>
                <a href="#" class="padding-left2" ng-click="toggleMediaAll(false)">deselect all</a>
              </div>
              <ul class="list-unstyled list-inline voffset1">
                <li ng-repeat="cbox in mediaCheckboxes" class="voffset1">
                  <md-checkbox ng-click="toggleMediaCbox(cbox)" ng-model="cbox.cb" class="tile-checkbox" aria-label="{{cbox.label}}">
                    {{cbox.label}}
                  </md-checkbox>
                </li>
              </ul>
            </div>
            <div class="well well-sm">
              <div>
                <span class="glyph-label-inline">Price: </span>
                <a href="#" ng-click="togglePriceAll(true)">select all</a>
                <a href="#" class="padding-left2" ng-click="togglePriceAll(false)">deselect all</a>
              </div>
              <ul class="list-unstyled list-inline voffset1">
                <li ng-repeat="cbox in priceCheckboxes" class="voffset1">
                  <md-checkbox class="tile-checkbox" ng-model="cbox.cb" ng-click="togglePriceCbox(cbox)" aria-label="{{cbox.label}}">
                    {{cbox.label}}
                  </md-checkbox>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-7">
            <div class="well well-sm">
              <div>
                <span class="glyph-label-inline">Course Providers: </span>
                <a href="#" ng-click="toggleProviderAll(true)">select all</a>
                <a href="#" class="padding-left2" ng-click="toggleProviderAll(false)">deselect all</a>
              </div>
              <ul class="list-unstyled list-inline voffset1">
                <li ng-repeat="cbox in providerCheckboxes" class="voffset1">
                  <md-checkbox class="tile-checkbox" ng-model="cbox.cb" ng-click="toggleProviderCbox(cbox)" aria-label="{{cbox.label}}">
                    {{cbox.label}} ({{cbox.prod_count}})
                  </md-checkbox>
                </li>
              </ul>
            </div>
          </div>

        </div>

        <div class="row" ng-show="advancedSearch==true">

          <div class="col-md-11">
            <button class="form-control btn-md btn-success" ng-click="doSearch()">{{searchLabel}}</button>
            <div class="pull-right voffset1"><a href="#" ng-click="toggleSearchMode()">Simple search</a></div>
            <div class="voffset1">
              <span class="label label-default">found {{totalItems}} items</span>
            </div>
          </div>

        </div>

      </div>

    </form>

  </div>

  <div class="row voffset3">
  </div>

  <div class="row voffset1">

    <div class="col-md-11 col-md-offset-1">
        <span class="" ng-repeat="crs in items">
          <div class="well well-sm search-tile">
            <div class="rating-right">
              <rating class="orange" ng-model="crs.display_rating" max="5" readonly="true"></rating>
            </div>
            <img ng-src="{{ crs.logo_asset_url }}" ng-show="crs.logo_asset_url" class="img-provider-logo"></img>
            <div class="voffset2"><a class="course-link" href="#" ng-click="openModal(crs)">{{ crs.pname }}</a></div>
            <div class="voffset1">{{ crs.authors }}</div>
            <div class="voffset1">{{ crs.school }}</div>
            <div class="text-right text-info">
              <span>{{ crs.price_fmt }}</span>
            </div>
          </div>
        </span>
    </div>

  </div>

  <div class="row voffset2">
    <div class="col-md-8 col-md-offset-2 center">
      <pagination total-items="totalItems" ng-model="currentPage" max-size="10" items-per-page="50" ng-change="pageChanged()"></pagination>
    </div>
  </div>

  <div class="row voffset2">
  </div>

</div>
