<div class="container-fluid" ng-controller="SearchCtrl">

  <div class="row">

    <div class="col-lg-8">
      <div class="input-group well well-sm">
        <span class="input-group-addon">Filter: </span>
        <input type="text" class="input-sm form-control" placeholder="" ng-model="searchText.$" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Select All</span>
          <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Courses</span>
          <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Books</span>
          <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Articles</span>
          <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Videos</span>
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="well well-sm">
      <ul class="list-root">
        <li class="list-leaf">
          <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Topics</span>
          <ul class="list-root">
            <li class="list-leaf">
              <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Business and Management</span>
            </li>
            <li class="list-leaf">
              <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Marketing</span>
            </li>
            <li class="list-leaf">
              <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Programming</span>
            </li>                
          </ul>
        </li>
        <li class="list-leaf">
          <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Course Providers</span>
          <ul class="list-root">
            <li class="list-leaf">
              <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Coursera</span>
            </li>
            <li class="list-leaf">
              <span class="glyphicon glyphicon-check"></span><span class="glyph-label">edX</span>
            </li>
            <li class="list-leaf">
              <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Udacity</span>
            </li>
            <li class="list-leaf">
              <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Code School</span>
            </li>
            <li class="list-leaf">
              <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Udemy</span>
            </li>
            <li class="list-leaf">
              <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Lynda</span>
            </li>
          </ul>
        </li>
        <li class="list-leaf"><span class="glyphicon glyphicon-check"></span><span class="glyph-label">Cost</span>       
          <ul class="list-root">
            <li class="list-leaf">
              <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Free</span>
            </li>
            <li class="list-leaf">
              <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Paid</span>
            </li>
          </ul>
        </li>
      </ul>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row" ng-repeat="rowNum in rows">
        <div class="col-sm-3" ng-repeat="crs in rowItems[rowNum] | filter:searchText">
          <div class="well well-sm">
            <img src="{{ crs.logo_asset_url }}" class="img-provider-logo">
            <div class="text-warning">{{ crs.pname }}</div>
            <div class="">{{ crs.authors }}</div>
            <div class=""><!-- school --></div>
            <div class="">{{ crs.price }}</div>
            <div class=""><!-- Rating --></div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

