<!-- Modal Details window -->
<script type="text/ng-template" id="searchModalDetails.html">
  <div class="modal-header">
      <h4>{{ course.pname }}</h4>
  </div>
  <div class="modal-body">
    <div class="rating-right">
      <rating class="orange" ng-model="course.display_rating" max="5" readonly="true"></rating>
    </div>
    <img ng-src="{{ course.logo_asset_url }}" class="img-provider-logo"></img>
    <div class="voffset2">{{ course.authors }}</div>
    <div class="voffset2">{{ course.school }}</div>
    <div class="well well-sm" ng-if="course_description != null && course_description != ''">{{ course_description }}</div>
    <div class="text-right">
      <span>{{ course.price_fmt }}</span></div>
  </div>
  <div class="modal-footer">

      <div class="btn-group btn-playlists" dropdown is-open="status.isopen" ng-if="user.admin_role">
        <button type="button" class="btn btn-sm btn-success dropdown-toggle" ng-disabled="disabled">
          Add to Playlist <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li class="btn-success" ng-repeat="pl in pl_data.playlists">
            <a href="#" ng-click="addToPlaylist(course,pl)">{{pl.title}}</a>
          </li>
        </ul>
      </div>

      <button class="btn btn-sm btn-success" ng-click="enroll()">Add to Wishlist</button>
      <button class="btn btn-sm btn-success" ng-click="goto()">Go to course</button>
      <button class="btn btn-sm btn-warning" ng-click="cancel()">Close</button>

      <div class="alert-simple" ng-repeat="a in alerts">{{a.msg}}</div>
  </div>
</script>

<!-- Results area -->
<div class="container-fluid" ng-controller="SearchCtrl">

  <div class="row">

    <form>
  
      <div class="col-md-10 col-md-offset-1">

        <div class="row">
          <div class="col-md-5">
            <input type="text" class="form-control" placeholder="Text to search" ng-model="searchText"/>
          </div>

          <div class="col-md-6 voffset1">
            <span class="glyphicon glyphicon-{{ mediaCbAll.class }} glyph-big glyph-action" ng-click="toggleMediaAll()"></span>
            <span class="glyph-label">Select All</span>
            <span ng-repeat="cbox in mediaCheckboxes">
              <span class="glyphicon glyphicon-{{ cbox.class }} glyph-big glyph-action" ng-click="toggleMediaCbox(cbox)"></span>
              <span class="glyph-label">{{cbox.label}}</span>
            </span>
          </div>

        </div>

        <div class="row">

          <div class="col-md-5 voffset2">
            <input type="text" class="form-control" ng-model="searchTags" placeholder="Filter by course/material providers"
              typeahead="vendor.name for vendor in vendors | filter:$viewValue | limitTo:8" 
              typeahead-editable="false" class="form-control" tooltip="Type and select from available choices"
              typeahead-on-select="tagSelected($item, $model, $label); searchTags='';">
            </input>
          </div>

          <div class="col-md-6 voffset3">
            <span ng-repeat="tag in searchTagsList"> <span class="label label-info">{{tag}}</span> </span>
            <a href="#" class="label label-danger" ng-show="searchTagsList.length > 0">clear</a>
          </div>
        </div>

        <div class="row">

          <div class="col-sm-12 voffset2">
            <button class="form-control btn-md btn-success" ng-click="doSearch()">{{searchLabel}}</button>
          </div>

        </div>

      </div>

    </form>

  </div>

  <div class="row voffset4">
    <!-- TODO: implement
    <div class="col-md-2">
      <div class="well well-sm">
      <ul class="list-root">
        <li class="list-leaf">
          <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Topics</span>
          <ul class="list-root">
            <li class="list-leaf">
              <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Business and Management</span>
            </li>
            <li class="list-leaf">
              <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Marketing</span>
            </li>
            <li class="list-leaf">
              <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Programming</span>
            </li>                
          </ul>
        </li>
        <li class="list-leaf">
          <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Course Providers</span>
          <ul class="list-root">
            <li class="list-leaf">
              <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Coursera</span>
            </li>
            <li class="list-leaf">
              <span class="glyphicon glyphicon-check"></span><span class="glyph-label">edX</span>
            </li>
            <li class="list-leaf">
              <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Udacity</span>
            </li>
            <li class="list-leaf">
              <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Code School</span>
            </li>
            <li class="list-leaf">
              <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Udemy</span>
            </li>
            <li class="list-leaf">
              <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Lynda</span>
            </li>
          </ul>
        </li>
        <li class="list-leaf"><span class="glyphicon glyphicon-check"></span><span class="glyph-label">Cost</span>       
          <ul class="list-root">
            <li class="list-leaf">
              <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Free</span>
            </li>
            <li class="list-leaf">
              <span class="glyphicon glyphicon-check"></span><span class="glyph-label">Paid</span>
            </li>
          </ul>
        </li>
      </ul>
      </div>
    </div>
    -->

    <div class="col-md-11 col-md-offset-1">
        <span class="" ng-repeat="crs in items">
          <div class="well well-sm search-tile">
            <div class="rating-right">
              <rating class="orange" ng-model="crs.display_rating" max="5" readonly="true"></rating>
            </div>
            <img ng-src="{{ crs.logo_asset_url }}" class="img-provider-logo"></img>
            <div class="voffset2"><a class="course-link" href="#" ng-click="openModal(crs)">{{ crs.pname }}</a></div>
            <div class="voffset1">{{ crs.authors }}</div>
            <div class="voffset1">{{ crs.school }}</div>
            <div class="text-right text-info">
              <span>{{ crs.price_fmt }}</span>
            </div>
          </div>
        </span>
    </div>

  </div>

  <div class="row voffset2">
    <div class="col-md-8 col-md-offset-2 center">
      <pagination total-items="totalItems" ng-model="currentPage" max-size="10" items-per-page="50" ng-change="pageChanged()"></pagination>
    </div>
  </div>

  <div class="row voffset2">
  </div>

</div>
