<!-- Modal comments window -->
<script type="text/ng-template" id="commentModal.html">
  <div class="modal-header">
    <h4>Nice work completing this content!</h4>
  </div>
  <div class="modal-body">

    Was it excellent?  Lame?  Do you recommend it?  Please add a Rating and Review to share with colleagues.

    <!-- Rating -->
    <div class="voffset3">
      <rating class="orange" ng-model="rating.display" max="5" readonly="false" 
        on-leave="leavingRating()">
      </rating>
    </div>

    <div class="input-group voffset3 width-100pct">
      <textarea class="form-control textarea-discussions" placeholder="Post comments or reviews" ng-model="newReview.title">
      </textarea>
    </div> <!-- /input-group -->
    <div class="voffset1 pull-right" ng-if="options_json.discussions == 'gplus'"> 
      <span class="glyphicon glyphicon-{{options_json.gbox_class}} glyph-big glyph-action" ng-click="toggleGBox()"></span>
      <span class="glyph-label">Also post to Google+</span>
    </div>

  </div>
  <div class="modal-footer">
      <button class="btn btn-success" ng-click="save()">Submit</button>
      <button class="btn btn-sm btn-warning" ng-click="cancel()">Skip</button>
  </div>
</script>

<!-- Main content area -->
<div class="container-fluid" ng-controller="MyCoursesCtrl">

  <!-- Budget SECTION -->

  <div class="row" ng-if="options_json.budget_management">
    <div class="col-lg-12">
      <div class="panel panel-info">
    		<div class="panel-body">My Budget
		      <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="<%= @budget ? @budget.percent_used : 0 =%>"
              aria-valuemin="0" aria-valuemax="100" style="width: <%= @budget ? @budget.percent_used : 0 =%>%;">0
			      </div>
		      </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">

  <!-- Courses SECTION -->

    <div class="col-lg-7">
	    <div class="panel panel-info">
  		  <div class="panel-heading">My Courses</div>
        <div class="panel-body">

			    <% if @course_groups.length <= 0 %>
				    <span class="label label-warning">No Courses</span>
          <% else %>
            <accordion close-others="false">
              <accordion-group is-open="cg.section_open" ng-repeat="cg in data.course_groups">
                <accordion-heading>
                  <span class="{{cg.statusClass}}">{{ cg.statusText }}</span>
                  <i class="pull-right glyphicon"
                    ng-class="{'glyphicon-chevron-down': cg.section_open, 'glyphicon-chevron-right': !cg.section_open}">
                  </i>
                </accordion-heading>

                <div class="table-responsive">
                <table class="table width-100pct">
                  <tr class="" ng-repeat="c in cg.my_courses">
                    <td class="course-col course-col-25px">
                      <a href="{{c.product.origin}}" class="" target="_blank">
                        <span class="glyphicon glyphicon-play-circle glyph-big pull-right"
                          tooltip="Go to course">
                        </span>
                      </a>
                    </td>
                    <td class="course-col">
                      <a href="/products/{{c.product.id}}" class="course-link" tooltip="Course Details">
                        {{c.product.name}}
                      </a>
                    </td>
                    <td class="course-col text-right">
                      <img ng-src="{{c.product.vendor.logo_asset_url}}" class="img-provider-logo" 
                        tooltip="{{c.product.vendor.name}}" />
                    </td>
                    <td class="course-col course-col-50px">
                        <span class="glyphicon"
                          ng-class="{'glyphicon-exclamation-sign yellow': c.assigned_by != 'Self', 'glyphicon-user blue': c.assigned_by == 'Self'}"
                          tooltip="Assigned by {{c.assigned_by}}">
                        </span>
                        <span class="glyphicon {{mediaTypes[c.product.media_type].glyph}}"
                          tooltip="{{mediaTypes[c.product.media_type].text}}">
                        </span>
                        <span class="label-duration" ng-if="c.product.duration">{{c.product.duration}}h</span>
                    </td>
                    <td class="course-col course-col-100px" ng-if="cg.status != 'compl'">

                      <progressbar class="course-progress" animate="false" max="100"
                        value="c.percent_complete" type="success">
                      </progressbar>
                    </td>
                    <td class="course-col" ng-if="cg.status == 'compl'">
                      <span class="green">{{c.completion_date | date:'yyyy-MM-dd'}}</span>
                    </td>

                    <td class="course-col course-col-100px text-right">
                      <div class="btn-group">
                        <button type="button" class="btn btn-success btn-xs" tooltip="Move to Completed"
                          ng-click="courseComplete(cg,$index)" ng-if="cg.status != 'compl'">C</button>
                        <button type="button" class="btn btn-primary btn-xs" tooltip="Move to In Progress"
                          ng-click="courseWip(cg,$index)" ng-if="cg.status != 'wip'">I</button>
                        <button type="button" class="btn btn-warning btn-xs" tooltip="Move to Assigned"
                          ng-click="courseRegister(cg,$index)" ng-if="cg.status != 'reg'">A</button>
                        <button type="button" class="btn btn-info btn-xs" tooltip="Move to Wishlist"
                          ng-click="courseWishlist(cg,$index)" ng-if="cg.status != 'wish'">W</button>
                      </div>                  
                    </td>

                  </tr>
                </table>
                </div>

              </accordion-group>
            </accordion>

  			  <% end %>

		    </div>
	    </div>
    </div>

  <!-- Playlists SECTION -->

    <div class="col-lg-5">
	    <div class="panel panel-info">
  		  <div class="panel-heading">My Playlists</div>
  		  <div class="panel-body">
			    <% if @my_playlists.length <= 0 %>
				    <span class="label label-warning">No Playlists</span>
			    <% else %>
            <accordion close-others="false">
              <accordion-group is-open="status.open" ng-repeat="pl in data.my_playlists">
                <accordion-heading>
                  <span class="text-warning">{{pl.title}}</span>
                  <i class="pull-right glyphicon"
                    ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}">
                  </i>
                  <progressbar class="course-progress" max="100"
                    value="pl.percent_complete" type="success" animate="false">
                  </progressbar>
                  <div class="accordion-description text-success">
                    {{pl.description}}
                  </div>
                </accordion-heading>
                <div class="accordion-course text-info course-row" ng-repeat="pl_item in pl.playlist_items | orderBy:'rank':false">
                    <a href="/products/{{pl_item.product_id}}" class="course-link" tooltip="Course Details">
                      {{pl_item.product.name}}
                    </a>
                </div>
              </accordion-group>
            </accordion>
			    <% end %>
		    </div>
	    </div>
    </div>
  </div>

  <!-- SECTION -->

</div>
