<div class="container-fluid" ng-controller="MyCoursesCtrl">

    <% if @account && @account.budget_management == true %>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-info">
      		<div class="panel-body">My Budget
			      <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="<%= @budget ? @budget.percent_used : 0 =%>"
                aria-valuemin="0" aria-valuemax="100" style="width: <%= @budget ? @budget.percent_used : 0 =%>%;">0
				      </div>
			      </div>
	        </div>
	      </div>
      </div>
    </div>
  <% end %>

  <!-- SECTION -->

  <div class="row">
    <div class="col-lg-12">
	    <div class="panel panel-info">
  		  <div class="panel-heading">My Courses</div>
        <div class="panel-body">

			    <% if @course_groups.length <= 0 %>
				    <span class="label label-warning">No Courses</span>
          <% else %>
			      <div class="row voffset2" ng-repeat="(status,cg) in data.course_groups">
                <div class="col-md-12 {{cg.statusClass}}">{{ status }}</div>
                <div class="row voffset2" ng-repeat="c in cg">
                  <div class="col-md-5">
                    <a href="{{c.product.origin}}" class="course-link" target="_blank">{{c.product.name}}</a>
                  </div>
                  <div class="col-md-2">
                    <img src="{{c.product.vendor.logo_asset_url}}" width="25px" />
                    {{c.product.vendor.name}}
                  </div>
                  <div class="col-md-1">
                      <span ng-if="c.assigned_by != 'Self'" class="glyphicon glyphicon-exclamation-sign yellow"
                        data-toggle="tooltip" title="Assigned by {{c.assigned_by}}">
                      </span>
                  </div>
                  <div class="col-md-2">
                    <div class="course-progress progress">
                      <div class="progress-bar progress-bar-success" role="progressbar"
                        aria-valuenow="{{c.percent_complete}}" aria-valuemin="0" aria-valuemax="100"
                        style="width: {{c.percent_complete}}%">
						            <span class="sr-only">{{c.percent_complete}}% Complete</span>
    					        </div>
                    </div>
                  </div>
						      <div class="col-md-2">
                    {{c.completion_date | date:'yyyy-MM-dd'}}
                  </div>
                </div>
            </div>
  			  <% end %>

		    </div>
	    </div>
    </div>
  </div>

  <!-- SECTION -->

  <div class="row">
    <div class="col-lg-12">
	    <div class="panel panel-info">
  		  <div class="panel-heading">My Playlists</div>
  		  <div class="panel-body">
			    <% if @my_playlists.length <= 0 %>
				    <span class="label label-warning">No Playlists</span>
			    <% else %>
					    <div class="row voffset2" ng-repeat="pl in data.my_playlists">
						    <div class="col-md-5">
                  <div><a href="#" class="course-link">{{pl.title}}</a></div>
							    {{pl.description}}
						    </div>
  						  <div class="col-md-2">
                  <div class="course-progress progress voffset3">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                      aria-valuenow="{{pl.percent_complete}}" aria-valuemin="0" aria-valuemax="100"
                      style="width: {{pl.percent_complete}}%">
						          <span class="sr-only">{{pl.percent_complete}}% Complete</span>
						        </div>
                  </div>
                </div>
					    </div>
			    <% end %>
		    </div>
	    </div>
    </div>
  </div>

  <!-- SECTION -->

</div>
