<!-- Modal comments window -->
<script type="text/ng-template" id="commentModal.html">
  <form name="commentsForm">
    <div class="modal-header">
      <h4>Nice work completing this content!</h4>
    </div>
    <div class="modal-body">

      Was it excellent?  Lame?  Do you recommend it?  Please add a Rating and Review to share with colleagues.

      <!-- Rating -->
      <div class="voffset3">
        <rating class="orange" ng-model="rating.display" max="5" readonly="false" 
          on-leave="leavingRating()">
        </rating>
      </div>

      <div class="input-group voffset3 width-100pct">
        <textarea name="commentText" class="form-control textarea-discussions" 
          placeholder="Post comments or reviews" ng-model="newReview.title" required>
        </textarea>
      </div> <!-- /input-group -->
      <div class="text-danger" ng-show="commentsForm.commentText.$error.required">
        * Please enter comment text to submit
      </div>
      <div class="voffset1 pull-right" ng-if="options_json.discussions == 'gplus'"> 
        <span class="glyphicon glyphicon-{{options_json.gbox_class}} glyph-big glyph-action" ng-click="toggleGBox()"></span>
        <span class="glyph-label">Also post to Google+</span>
      </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-success" ng-click="save()" ng-disabled="commentsForm.commentText.$error.required">Submit</button>
        <button class="btn btn-sm btn-warning" ng-click="cancel()">Skip</button>
    </div>
    
  </form>

</script>

<!-- Main content area -->
<div class="container-fluid" ng-controller="MyCoursesCtrl">

  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="/user_home">Home</a></li>
        <li class="active">My Courses</li>
      </ol>
    </div>
  </div>


  <!-- Budget SECTION -->

  <div class="row" ng-if="options_json.budget_management">
    <div class="col-lg-12">
      <div class="panel panel-info">
    		<div class="panel-body">My Budget
		      <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="budget.percent_used"
              aria-valuemin="0" aria-valuemax="100" style="width: {{budget.percent_used}}%;">0
			      </div>
		      </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">

  <!-- Courses SECTION -->

    <div class="col-lg-7">
	    <div class="panel panel-info">
      
  		  <div class="panel-heading">
          <span class="glyphicon glyphicon-question-sign pull-right" 
            popover-placement="left" popover="You can use buttons with letters A, C, I, and W to quickly update the course status: A is for Assigned, C is for Complete, I is for In progress, and W is for Wishlist." popover-title="How to use My Courses">
          </span>          
          <span class="glyphicon glyphicon-folder-open"></span>
          &nbsp;My Courses
          <div class="panel-subheading voffset2">
            Buttons: 
              <button type="button" class="btn btn-warning btn-xs">A</button> - Assigned, 
              <button type="button" class="btn btn-success btn-xs">C</button> - Completed, 
              <button type="button" class="btn btn-primary btn-xs">I</button> - In Progress,
              <button type="button" class="btn btn-info btn-xs">W</button> - Wishlist
          </div>
        </div>
        <div class="panel-body">

				  <span ng-if="data.course_groups==null || data.course_groups.length==0" class="label label-warning">No Courses</span>
          <accordion ng-if="data.course_groups.length > 0" close-others="false">
            <accordion-group is-open="cg.section_open" ng-repeat="cg in data.course_groups">

            </accordion-group>
          </accordion>

		    </div>
	    </div>
    </div>

  <!-- Playlists SECTION -->

    <div class="col-lg-5">
	    <div class="panel panel-info">
  		  <div class="panel-heading">
          <span class="glyphicon glyphicon-question-sign pull-right" 
            popover-placement="left" popover="My Playlists section contains all playlists, to which you have subscribed. You can expand each playlist to see its courses, and go to course details page." popover-title="How to use My Playlists">
          </span>
          <span class="glyphicon glyphicon-list"></span>
          My Playlists
          <div class="panel-subheading voffset1">
            You have subscribed to these playlists
          </div>
        </div>
  		  <div class="panel-body">
			    <span ng-if="data.my_playlists==null || data.my_playlists.length==0" class="label label-warning">No Playlists</span>
          <accordion ng-if="data.my_playlists.length > 0" close-others="false">
            <accordion-group is-open="status.open" ng-repeat="pl in data.my_playlists">
              <accordion-heading>
                <span class="badge" ng-show="pl.isNew==true">new</span>
                <span class="text-warning">{{pl.title}}</span>
              </accordion-heading>
            </accordion-group>
          </accordion>
		    </div>
	    </div>
    </div>
  </div>

  <!-- SECTION -->

</div>
