<!-- Modal Survey window -->
<script type="text/ng-template" id="userSurvey.html">
  <div class="modal-header">
    <h4>Preferences</h4>
  </div>
  <div class="modal-body">
    <p>Please indicate the business and technical topics that you are interested in (you can select all that apply):</p>
    <div class="row">
      <div class="col-xs-4" ng-repeat="col in [0,1,2]">
        <ul class="padding-left3">
          <li class="list-leaf" ng-repeat="thing in skills[col]">
            <input type="checkbox" value="{{thing.id}}" ng-model="thing.checked" name="stuff"/>
              {{thing.name}}
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-8">
        <input type="text" placeholder="other" class="padding-left3" ng-model="otherSkill"></input>
      </div>
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-success" ng-click="done()"  ng-show="surveySaved!=true">Submit</button>
      <button class="btn btn-sm btn-warning" ng-click="cancel()" ng-show="surveySaved!=true">Skip this time</button>
      <button class="btn btn-sm btn-warning" ng-click="cancel()" ng-show="surveySaved==true">Close</button>
  </div>
</script>


<!-- Main content area -->

<div class="container-fluid" ng-controller="IndexCtrl">
  <div class="row">
    <div class="col-md-8">

      <div class="panel panel-info">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-plane"></span>
          Propel Your Learning and Success
          <i class="pull-right glyphicon" ng-click="isCollapsed = !isCollapsed"
            ng-class="{'glyphicon-chevron-down': !isCollapsed, 'glyphicon-chevron-right': isCollapsed}">
          </i>
        </div>
        <div class="panel-body" collapse="isCollapsed" id="bind-html-with-trust">
          <div ng-bind-html="companyOverview()"></div>
        </div>
      </div>

	    <div class="panel panel-info">
 		    <div class="panel-heading">
          <span class="glyphicon glyphicon-list"></span>
          Playlists
        </div>
        <div class="panel-body">
          <!-- <span ng-switch-when="false" class="label label-warning">No Playlists</span> -->
          <div class="row {{rowClass[$last]}}" ng-repeat="pl in data.playlists">
            <div class="col-xs-12">
              <div class="inline-col-left">
                <!--
                <span class="glyphicon glyph-big glyphicon-{{ glyphSubscribed[$index] }}" tooltip="Subscribed"></span>
                -->
                &nbsp;
              </div>
              <div class="inline-col-wrap">
                <div class="inline-col-right">
                  <a id="{{ pl.id }}" href="#"
                    ng-click="togglePlaylistSubsciption($index)">
                    <span class="glyphicon glyph-big glyph-action glyphicon-{{ glyphAction[$index] }}" 
                      tooltip="{{ glyphTooltip[$index] }}">
                    </span>
                  </a>
                </div>
                <div class="inline-col-center">
                  <div class="text-warning">{{ pl.title }}</div>
                  <div class="text-success">{{ pl.description }}</div>
                </div>
              </div>
            </div>
          </div> <!-- row -->
        </div>
	    </div>

    </div>
    <div class="col-md-4">
	    <div class="panel panel-info" ng-if="options_json.discussions">
		    <div class="panel-heading">
          <span class="glyphicon glyphicon-comment"></span>
          Discussions
        </div>
        <div class="panel-body panel-discussions">
          <div class="row">
            <div class="col-xs-12">
              <textarea class="form-control textarea-discussions" placeholder="Add comment or question for coworkers" ng-model="newDiscussion.title">
              </textarea>
            </div>
          </div> <!-- Row -->
          <div class="row voffset1">
            <div class="col-xs-12">
              <div class="pull-right">
                <span class="" ng-if="options_json.discussions == 'gplus'">
                  <span class="glyphicon glyphicon-{{options_json.gbox_class}} glyph-big glyph-action" ng-click="toggleGBox()"></span>
                  <span class="glyph-label" tooltip="Also post to Google+ and make visible to coworkers only">Google+</span>
                </span>
                <button class="btn btn-sm btn-success" type="button" ng-click="createDiscussion()">Submit</button>
              </div>
            </div>
          </div> <!-- Row -->

          <div class="well" ng-repeat="disc_post in discussions">
            <div class="text-info" ng-if="disc_post.product_id != null">
              Comment on: "<a href="/products/{{disc_post.product.id}}">{{disc_post.product.name}}</a>" by {{disc_post.product.authors}}
            </div>
            <div class="voffset2">{{ disc_post.title }}</div>
            <div class="text-success text-right" ng-if="disc_post.user.first_name == null || disc_post.user.first_name == ''">
              {{disc_post.user.email}}
            </div>
            <div class="text-success text-right"  ng-if="disc_post.user.first_name != null && disc_post.user.first_name != ''">
              {{disc_post.user.first_name}} {{disc_post.user.last_name}}
            </div>
          </div>
        </div>
	    </div>

      <div class="panel panel-info" ng-if="options_json.recommendations">
 		    <div class="panel-heading">
          <span class="glyphicon glyphicon-heart-empty"></span>
          Recommended Courses
        </div>
 		    <div class="panel-body">
          <div>
            <a href="https://generalassemb.ly/online/videos/three-strategies-for-designing-persuasive-presentations" class="course-link" target="_blank">Designing Persuasive Presentations</a>
            <div class="pull-right">
              <%= image_tag 'ga-lockup.png', class: "img-provider-logo" =%>
              <span class="glyphicon glyphicon-time" tooltip="Duration" style="padding-left: 10px;"></span> 1h | self-paced
            </div>
            <blockquote class="blockquote-reverse">
              “I’ve wanted to get better at presentations for a long time, and this course really helped me - I highly recommend it.”
              <footer>Steve Johnson, Engineering Manager</footer>
            </blockquote>
          </div>

          <div>
            <a href="https://www.edx.org/course/harvardx/harvardx-cs50x-introduction-computer-1022#.U2qkFq1dX-Q" class="course-link" target="_blank">Computer Science (CS50)</a>
            <div class="pull-right">
              <%= image_tag 'edx-logo-header.png', class: "img-provider-logo" =%>
              <span class="glyphicon glyphicon-time" tooltip="Duration" style="padding-left: 10px;"></span> 12w | self-paced
            </div>
            <blockquote class="blockquote-reverse">
              “This course is challenging, and it’s excellent.  The  Harvard professor is terrific.  Really helped improve my understanding of basic technical concepts.  I may become an engineer - watch out!”
              <footer>Doug Lewis, Sales Rep</footer>
            </blockquote>
          </div>
  		    <div class="text-right"><button class="btn btn-success btn-sm">Recommend</button></div>
		    </div>
	    </div>
    </div>

  </div>
</div>
