<div ng-controller="IndexCtrl">
<div class="col-lg-6">
	<div class="panel panel-info">
    <div class="panel-heading">{{ data.account['company_name'] }} - Home page</div>
    <div class="panel-body">Welcome!</div>
	</div>
</div>
<div class="col-lg-6">
	<div class="panel panel-info">
		<div class="panel-heading">Discussions</div>
 		<div class="panel-body">No discussions</div>
	</div>
</div>
<div class="col-lg-6">
	<div class="panel panel-info">
 		<div class="panel-heading">Playlists</div>
    <div class="panel-body"> 
      <!-- <span ng-switch-when="false" class="label label-warning">No Playlists</span> -->
			<table class="table table-condensed table-hover">
				<tbody>
  				<tr ng-repeat="pl in data.playlists">
            <td width="5%"">
              <span class="glyphicon glyphicon-{{ glyphSubscribed[$index] }}"></span>
            </td>
						<td width="60%">
              <div>{{ pl.title }}</div>
              {{ pl.description }}
						</td>
            <td width="5%">
              <button id="{{ pl.id }}" type="button" 
                class="btn btn-xs {{ btnSubscribedClass[$index] }}"
                ng-click="togglePlaylistSubsciption($index)">
                <span class="glyphicon glyphicon-{{ glyphAction[$index] }}"></span>
              </button>
            </td>
					</tr>
  			</tbody>
			</table>
   </div>
	</div>
</div>
<div class="col-lg-6">
	<div class="panel panel-info">
 		<div class="panel-heading">Recommended Courses</div>
 		<div class="panel-body">
  		<button class="btn btn-primary btn-sm">Recommend</button>
		</div>
	</div>
</div>
</div>
