<!-- Modal Survey window -->
<script type="text/ng-template" id="userSurvey.html">
  <div class="modal-header">
    <h4>Preferences</h4>
  </div>
  <div class="modal-body">
    It&#39;s the first time you logged in. Please answer several questions. What is your education?
    <ul>
      <li class="list-leaf" ng-repeat="thing in education">
        <input type="radio" value="{{thing.id}}" ng-model="$parent.selected" name="stuff"/>
          {{thing.name}}
      </li>
    </ul>
  </div>
  <div class="modal-footer">
      <button class="btn btn-success" ng-click="done(selected)">Done  </button>
  </div>
</script>


<!-- Main content area -->

<div class="container-fluid" ng-controller="IndexCtrl">
  <div class="row">
    <div class="col-md-8">

      <div class="panel panel-info">
        <div class="panel-heading">Propel Your Learning and Success
          <i class="pull-right glyphicon" ng-click="isCollapsed = !isCollapsed"
            ng-class="{'glyphicon-chevron-down': !isCollapsed, 'glyphicon-chevron-right': isCollapsed}">
          </i>
        </div>
        <div class="panel-body" collapse="isCollapsed">
          EdgeRocket helps you find great online classes and resources to help you build skills and advance your career.
          <p>{{ user.account['overview'] }}</p>
        </div>
      </div>

	    <div class="panel panel-info">
 		    <div class="panel-heading">Playlists</div>
        <div class="panel-body">
          <!-- <span ng-switch-when="false" class="label label-warning">No Playlists</span> -->
          <div class="row" ng-repeat="pl in data.playlists">
            <div class="col-xs-1 voffset2">
              <span class="glyphicon glyphicon-{{ glyphSubscribed[$index] }}" tooltip="Subscribed"></span>
            </div>
				    <div class="col-sm-10">
              <h4 class="text-warning bottom0">{{ pl.title }}</h4>
              {{ pl.description }}
					  </div>
            <div class="col-xs-1 voffset2">
              <a id="{{ pl.id }}" href
                ng-click="togglePlaylistSubsciption($index)">
                <span class="glyphicon glyphicon-{{ glyphAction[$index] }}" tooltip="Subscribe or unscubscribe"></span>
              </a>
            </div>
          </div> <!-- row -->
        </div>
	    </div>

    </div>
    <div class="col-md-4">
	    <div class="panel panel-info" ng-if="options_json.discussions">
		    <div class="panel-heading">Discussions</div>
        <div class="panel-body panel-discussions">
          <div class="input-group">
            <textarea class="form-control textarea-discussions" placeholder="Post a comment" ng-model="newDiscussion.title"></textarea>
            <span class="input-group-btn">
              <button class="btn btn-warning btn-post-discussions" type="button" ng-click="createDiscussion()">Post</button>
            </span>
          </div> <!-- /input-group -->
          <div class="well" ng-repeat="disc_post in discussions">
          {{ disc_post.title }}
            <div class="text-warning text-right">{{disc_post.user.email}}</div>
          </div>
        </div>
	    </div>

      <div class="panel panel-info" ng-if="options_json.recommendations">
 		    <div class="panel-heading">Recommended Courses</div>
 		    <div class="panel-body">
          <div>
            <a href="https://generalassemb.ly/online/videos/three-strategies-for-designing-persuasive-presentations" class="course-link" target="_blank">Designing Persuasive Presentations</a>
            <div class="pull-right">
              <%= image_tag 'ga-lockup.png', class: "img-provider-logo" =%>
              <span class="glyphicon glyphicon-time" tooltip="Duration" style="padding-left: 10px;"></span> 1h | self-paced
            </div>
            <blockquote class="blockquote-reverse">
              “I’ve wanted to get better at presentations for a long time, and this course really helped me - I highly recommend it.”
              <footer>Steve Johnson, Engineering Manager</footer>
            </blockquote>
          </div>

          <div>
            <a href="https://www.edx.org/course/harvardx/harvardx-cs50x-introduction-computer-1022#.U2qkFq1dX-Q" class="course-link" target="_blank">Computer Science (CS50)</a>
            <div class="pull-right">
              <%= image_tag 'edx-logo-header.png', class: "img-provider-logo" =%>
              <span class="glyphicon glyphicon-time" tooltip="Duration" style="padding-left: 10px;"></span> 12w | self-paced
            </div>
            <blockquote class="blockquote-reverse">
              “This course is challenging, and it’s excellent.  The  Harvard professor is terrific.  Really helped improve my understanding of basic technical concepts.  I may become an engineer - watch out!”
              <footer>Doug Lewis, Sales Rep</footer>
            </blockquote>
          </div>
  		    <div class="text-right"><button class="btn btn-primary btn-sm">Recommend</button></div>
		    </div>
	    </div>
    </div>

  </div>
</div>
