<!-- Modal Subscribe prompt window -->
<script type="text/ng-template" id="subscribePromptModal.html">
  <div class="modal-header">
    <h4 class="text-info">Attention</h4>
  </div>
  <div class="modal-body">
    Are you sure you want to subscribe to these playlists?
    <ul class="list-unstyled">
      <li ng-repeat="pl in thePlaylists| filter:{checked:true}">{{pl.title}}</li>
    </ul>
  </div>
  <div class="modal-footer">
      <md-button class="md-warn" ng-click="proceed()">Yes, subscribe</md-button>
      <md-button class="" ng-click="cancel()">No, don&#39;t do anyting</md-button>
  </div>    
</script>

<!-- Modal Unsubscribe prompt window -->
<script type="text/ng-template" id="unsubPromptModal.html">
  <div class="modal-header">
    <h4 class="text-danger">Warning</h4>
  </div>
  <div class="modal-body">
    Are you sure you want to unsubscribe from "{{ thePlaylist.title }}" Playlist?
    <div class="padding-left3">
      <md-checkbox ng-model="thePlaylist.cascadeDelete" 
        aria-label="Remove courses too" class="">Also remove playlist&#39;s courses from my courses</md-checkbox>
    </div>
  </div>
  <div class="modal-footer">
      <md-button class="md-warn" ng-click="proceed()">Yes, unsubscribe</md-button>
      <md-button class="" ng-click="cancel()">No, don&#39;t do anyting</md-button>
  </div>    
</script>

<!-- Main content area -->
<div class="container-fluid user_home" ng-controller="IndexCtrl">

  <form>

  <div class="row">

    <div class="col-md-9">

      <!-- Message -->
      <div class="row" ng-if="user.new_courses && courseMessageDismissed != true">
        <div class="col-xs-12">
          <div class="alert alert-info" role="alert">
            <div class="header-2">You've got new Courses</div>
            New Courses have been added to your list.
            <div class="pull-right">
              <md-button class="" ng-click="dismissNewCourseMessage()">
                Dismiss
              </md-button>
            </div>
          </div>
        </div>
      </div> <!-- row Message -->

      <div class="row padding-bottom3">
        <div class="col-xs-6">
          <div class="header-1">Courses</div>
        </div>
        <div class="col-xs-6 text-right">
          <ul class="list-inline">
            <li>
              <a href="#" ng-click="filterMyCourses('all')" ng-if="showCourses!='all'"
                tooltip-append-to-body="true" tooltip="Show all courses">
                  All
              </a>
              <strong ng-if="showCourses=='all'">All</strong>
            </li>
            <li>
              <a href="#" ng-click="filterMyCourses('reg')" ng-if="showCourses!='reg'"
                tooltip-append-to-body="true" tooltip="Show courses that I assigned to myself or were assigned to me">
                  Learning
              </a>
              <strong ng-if="showCourses=='reg'">Learning</strong>
            </li>
            <li>
              <a href="#" ng-click="filterMyCourses('wish')" ng-if="showCourses!='wish'"
                tooltip-append-to-body="true" tooltip="Show courses in my wishlist only">
                  Wishlist
              </a>
              <strong ng-if="showCourses=='wish'">Wishlist</strong>
            </li>
            <li>
              <a href="#" ng-click="filterMyCourses('compl')" ng-if="showCourses!='compl'"
                tooltip-append-to-body="true" tooltip="Show completed courses only">
                  Completed
              </a>
              <strong ng-if="showCourses=='compl'">Completed</strong>
            </li>
          </ul>
        </div>
      </div>

      <div class="row" ng-repeat="row in theRows">

        <div class="col-md-4" ng-repeat="col in [0,1,2]" ng-if="myCourses[row*3+col]">

          <div class="panel well-tile" ng-class="myCourses[row*3+col].css_elevate">
            <div class="panel-header tile-header" ng-class="myCourses[row*3+col].css_header">
              <div class="tile-name click-action" ng-click="tileHeaderClick(myCourses[row*3+col])"
                  tooltip-append-to-body="true" tooltip="Toggle course view">
                 <span class="tile-header white">
                 <span class="title-icon padding-right1 white icon-{{myCourses[row*3+col].mediaType.glyph}}"
                                  tooltip="{{myCourses[row*3+col].mediaType.text}}" tooltip-append-to-body="true">
                                </span>
                    {{myCourses[row*3+col].product.name}}
                </span>

              </div>

            <span class=" pull-right icon-ok-sign glyph-xl" ng-if="myCourses[row*3+col].status=='compl'" tooltip-append-to-body="true" tooltip="Complete">Complete</span>
              <div style="clear:both"></div>
            </div>

            <!-- basic tile view -->
            <div class="panel-body empty-body tile-body" ng-if="myCourses[row*3+col].tileDetail!=true">
            </div>
            <div class="panel-panel-footer tile-footer text-right" ng-if="myCourses[row*3+col].tileDetail!=true">
            <strong class="price-position">{{myCourses[row*3+col].price_fmt}}</strong>
            <span class="exclamation-sign pull-left" ng-if="myCourses[row*3+col].assigned_by=='Manager'" tooltip-append-to-body="true" tooltip="This course is required">REQUIRED</span>
<span class="not-required-sign pull-left" ng-if="myCourses[row*3+col].assigned_by=='Self'" tooltip-append-to-body="true" tooltip="This course is not required"></span>
                  <img ng-src="{{myCourses[row*3+col].product.vendor.logo_asset_url}}"
                                  class="img-provider-logo" ng-show="myCourses[row*3+col].product.vendor.logo_asset_url"
                                  tooltip="{{myCourses[row*3+col].product.vendor.name}}" tooltip-append-to-body="true"/>

                <span class="play-holder-height">
                <a href="{{myCourses[row*3+col].product.origin}}" class="orange" target="_blank" ng-if="myCourses[row*3+col].status!='compl'">
                  <!--<span class="glyphicon glyphicon-play-circle glyph-action glyph-xl"
                    tooltip-append-to-body="true" tooltip="Go to a course in a new browser window/tab"></span>
                    <img src="assets/playbtn.png" class="playbutton"/>-->
                    <span class="play-button"><img src="assets/play-icon-part.png"/></span>
                </a>
                </span>
            </div>

            <!-- detailed tile view -->
            <div class="panel-body tile-text" ng-if="myCourses[row*3+col].tileDetail==true">
              {{myCourses[row*3+col].product.description}}
            </div>
            <div class="panel-panel-footer expanded-footer tile-footer text-right padding-top1 black" ng-if="myCourses[row*3+col].tileDetail==true">
              <div class="padding-bottom1">
                <a class="" ng-href="/products/{{myCourses[row*3+col].product_id}}"
                  tooltip-append-to-body="true" tooltip="View all course details">More details&#8594;</a>
              </div>
              <span class="pull-left" ng-if="myCourses[row*3+col].needRefresh!=true">
                <md-button ng-if="myCourses[row*3+col].status!='reg'" class="" 
                  ng-click="changeStatus(myCourses[row*3+col],'reg')">&#9657;Learning</md-button>
                <md-button ng-if="myCourses[row*3+col].status!='wish'" class="" 
                  ng-click="changeStatus(myCourses[row*3+col],'wish')">&#9657;Wishlist</md-button>
                <md-button ng-if="myCourses[row*3+col].status!='compl'" class="" 
                  ng-click="changeStatus(myCourses[row*3+col],'compl')">&#9657;Completed</md-button>
              </span>
              <small ng-if="myCourses[row*3+col].needRefresh==true">
                <a href="#" ng-click="reloadCards(myCourses[row*3+col])" class='text-success'>Changed successfully, click to refresh</a>
              </small>
            </div>

          </div>

        </div>

      </div> <!-- row -->

    </div>

    <!-- SUBSCRIPTION & INTERESTS -->
    <div class="col-md-3">

      <div class="row">
        <div class="col-xs-12">
          <div class="header-2">
            <a href="/user_playlists">Playlist Subscriptions</a>
          </div>
          <div ng-if="!subsciptionsEditMode">
            <table class="table-hover voffset3 font-size-inherit">
              <tr ng-repeat="pl in filteredPlaylists = (myPlaylists | filter:{subscribed:true})" 
                  ng-class="pl.css_class">
<td width="99%" class="click-action" ng-click="clickPlaylist(pl)"
                                  tooltip-append-to-body="true" tooltip="Show playlist courses only">
                                    {{pl.title}}
                                </td>
                <td class="td-vspace1">
                  <span class="glyphicon glyphicon-trash glyph-action glyph-big red" ng-click="playlistUnsubscribe(pl)" />
                </td>

              </tr>
            </table>
            <div class="text-warning" ng-if="filteredPlaylists.length<=0">
              You haven't subscribed to any playlists yet.
            </div>
            <div class="voffset3">
              <md-button class="pull-right" ng-click="editSubscriptions()"
                tooltip-append-to-body="true" tooltip="Subscribe to more playlists">
                + Subscribe
              </md-button>
            </div>
          </div>
          <div ng-if="subsciptionsEditMode">
            <table class="voffset3 font-size-inherit" width="100%">
              <tr ng-repeat="pl in filteredAvailPls = (myPlaylists | filter:{subscribed:false})">
                <td width="99%">{{pl.title}}</td>
                <td>
                  <md-checkbox ng-model="pl.checked" 
                    ng-click="clickSubscribe(pl)" aria-label="{{ pl.title }}" class="list-checkbox"></md-checkbox>
                </td>
              </tr>
            </table>
            <div class="text-warning" ng-if="filteredAvailPls.length<=0">
              There are no more playlists to subscribe
            </div>
            <div class="voffset3 pull-right">
              <md-button class="md-warn" ng-click="cancelEditSubscriptions()">
                Cancel
              </md-button>
              <md-button class="" ng-disabled="checkedPlaylistsCount<=0" ng-click="doneSubscriptions()">
                Done
              </md-button>
            </div>
          </div>
        </div>
      </div>

      <div class="row voffset3">
        <div class="col-xs-12">
          <div class="header-2 padding-bottom1">
            Interests
          </div>
          <div ng-if="!interestsEditMode">
            <table class="voffset3 font-size-inherit">
              <tr ng-repeat="skill in filteredInterests = (myInterests | filter:{subscribed:true})">
                <td class="td-vspace1">
                 <!-- <span class="glyphicon glyphicon-trash glyph-action glyph-big red" ng-click="interestUnsubscribe(skill)"/>-->
                  <span class="image-trash" ng-click="interestUnsubscribe(skill)"/>
                </td>
                <td width="99%">{{skill.name}}</td>

              </tr>
            </table>
            <div class="text-warning" ng-if="filteredInterests.length<=0">
              You haven't selected any interests yet.
            </div>
            <div class="voffset3">
              <md-button class="pull-right" ng-click="editInterests()"
                tooltip-append-to-body="true" tooltip="Select additional interests">
                + Interests
              </md-button>
            </div>
          </div>
          <div ng-if="interestsEditMode">
            <table class="voffset3 font-size-inherit" width="100%">
              <tr ng-repeat="skill in filteredAvailSkills = (myInterests | filter:{subscribed:false})">
                <td>
                  <md-checkbox ng-model="skill.checked" 
                    ng-click="clickSkill(skill)" aria-label="{{ skill.name }}" class="list-checkbox"></md-checkbox>
                </td>
                <td width="99%">{{skill.name}}</td>
              </tr>
            </table>
            <div class="text-warning" ng-if="filteredAvailSkills.length<=0">
              There are no more interets to select
            </div>
            <div class="voffset3 pull-right">
              <md-button class="md-warn" ng-click="cancelEditInterests()">
                Cancel
              </md-button>
              <md-button class="md-primary" ng-disabled="checkedInterestsCount<=0" ng-click="doneInterests()">
                Done
              </md-button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div> <!-- ROW -->

  </form>

</div>
