<!-- Modal Survey window -->
<script type="text/ng-template" id="userSurvey.html">
  <div class="modal-header">
    <h4>Preferences</h4>
  </div>
  <div class="modal-body">
    It&#39;s the first time you logged in. Please answer several questions. What is your education?
    <div class="radio" ng-repeat="ed in education">
      <label>
        <input type="radio" name="education" id="{{ed.id}}" value="{{ed.id}}"/>
          {{ ed.name }}
      </label>
    </div>

  </div>
  <div class="modal-footer">
      <button class="btn btn-success" ng-click="done()">Done</button>
  </div>
</script>


<!-- Main content area -->

<div class="container-fluid" ng-controller="IndexCtrl">
  <div class="row">
    <div class="col-lg-7">
      <div class="alert alert-info fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>Propel Your Learning and Success</h4>
        EdgeRocket helps you find great online classes and resources to help you build skills and advance your career.
        <p>{{ data.account['overview'] }}</p>
      </div>

	    <div class="panel panel-info">
 		    <div class="panel-heading">Playlists</div>
        <div class="panel-body">
          <!-- <span ng-switch-when="false" class="label label-warning">No Playlists</span> -->
          <div class="row" ng-repeat="pl in data.playlists">
            <div class="col-xs-1 voffset2">
              <span class="glyphicon glyphicon-{{ glyphSubscribed[$index] }}"></span>
            </div>
				    <div class="col-sm-10">
              <h4 class="text-warning bottom0">{{ pl.title }}</h4>
              {{ pl.description }}
					  </div>
            <div class="col-xs-1 voffset2">
              <a id="{{ pl.id }}" href
                ng-click="togglePlaylistSubsciption($index)">
                <span class="glyphicon glyphicon-{{ glyphAction[$index] }}"></span>
              </a>
            </div>
          </div> <!-- row -->
        </div>
	    </div>

    </div>
    <div class="col-lg-5">
	    <div class="panel panel-info">
		    <div class="panel-heading">Discussions</div>
        <div class="panel-body">
          <div class="well">
          Data Science fans - Hey a group of us are signing up for the Udacity class on Data Science.  It’s a 6-week course, estimated 4 hours/week of work, starts mid-April. Our group is planning to have some lunch meetings to discuss course information and ideas.  Join us!  Hit me by email if interested.
            <div class="text-warning text-right">Jose Calderon</div>
          </div>
          <div class="well">
             Sounds great, count me in!
            <div class="text-warning text-right">Susan Cunningham</div>
          </div>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Post a comment"></input>
            <span class="input-group-btn">
              <button class="btn btn-warning" type="button">Post</button>
            </span>
          </div> <!-- /input-group -->
        </div>
	    </div>

      <div class="panel panel-info">
 		    <div class="panel-heading">Recommended Courses</div>
 		    <div class="panel-body">
          <div>
            <h4 class="text-warning bottom0">Designing Persuasive Presentations</h4>
            / General Assembly / 1 hour / self-paced
            <blockquote class="blockquote-reverse">
              “I’ve wanted to get better at presentations for a long time, and this course really helped me - I highly recommend it.”
              <footer>Steve Johnson, Engineering Manager</footer>
            </blockquote>
          </div>

          <div>
            <h4 class="text-warning bottom0">Computer Science (CS50)</h4>
            / edX / 12-week course / self-paced
            <blockquote class="blockquote-reverse">
              “This course is challenging, and it’s excellent.  The  Harvard professor is terrific.  Really helped improve my understanding of basic technical concepts.  I may become an engineer - watch out!”
              <footer>Doug Lewis, Sales Rep</footer>
            </blockquote>
          </div>
  		    <div class="text-right"><button class="btn btn-primary btn-sm">Recommend</button></div>
		    </div>
	    </div>
    </div>

  </div>
</div>
