<div class="col-lg-6">
	<div class="panel panel-info">
 		<div class="panel-heading">CompanyABC - Home page</div>
 		<div class="panel-body">Panel content</div>
	</div>
</div>
<div class="col-lg-6">
	<div class="panel panel-info">
		<div class="panel-heading">Discussions</div>
 		<div class="panel-body">No discussions</div>
	</div>
</div>
<div class="col-lg-6">
	<div class="panel panel-info">
 		<div class="panel-heading">Playlists</div>
    <div class="panel-body">
			<% if @my_playlists.length <= 0 %>
				<span class="label label-warning">No Playlists</span>
			<% else %> 
				<table class="table table-condensed table-hover">
				<tbody>
			     	<% @my_playlists.each { |pl| %>
					<tr>
						<td width="40%">
							<div><%= link_to pl.title =%></div>
							<%= pl.description =%>
						</td>
            <td width="10%"><!-- TODO --></td>
					</tr>
			     	<% } %>
				</tbody>
			</table>
			<% end %>
    </div>
	</div>
</div>
<div class="col-lg-6">
	<div class="panel panel-info">
 		<div class="panel-heading">Recommended Courses</div>
 		<div class="panel-body">
  		<button class="btn btn-primary btn-sm">Recommend</button>
		</div>
	</div>
</div>

