<!-- Main content area -->
<div class="container-fluid" ng-controller="IndexCtrl">

  <form>

  <div class="row">

    <div class="col-md-9">

      <div class="row">
        <div class="col-xs-12">
          <div class="alert alert-info" role="alert">
            <div class="header-2">New Courses Assigned</div>
            This is a message for you to read
            <div class="pull-right">
              <md-button class="">
                Dismiss
              </md-button>
            </div>
          </div>
        </div>
      </div>

      <div class="row padding-bottom3">
        <div class="col-xs-12">
          <div class="header-1">Courses</div>
        </div>
      </div>

      <div class="row" ng-repeat="row in [0,1,2]">

        <div class="col-md-4" ng-repeat="col in [0]">
          <div class="well well-sm well-tile">
            <div class="row">
              <div class="col-xs-1">
                <span class="glyphicon glyphicon-facetime-video"></span>
              </div>
              <div class="col-xs-9">
                <div class="tile-name">
                  An Inside Look at Facebook's Method for Hiring Designers
                </div>
              </div>
              <div class="col-xs-2 text-right">
                <span class="glyphicon glyphicon-resize-full"></span>
              </div>
            </div>
            <div class="row voffset1">
              <div class="col-xs-12">
                <div class="tile-text">
                  Julie Zhuo started working at Facebook almost eight years ago at age 22. At the time, she didn't know what she'd be working on, or where the company was going. But she liked its energy, the way everyone hacked forward, together. 
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 voffset2">
                <div class="tile-count">&#9656; 12 comments</div>
              </div>
              <div class="col-xs-6 text-right voffset3">
                <span class="glyphicon glyphicon-exclamation-sign glyph-action"></span>
                <span class="glyphicon glyphicon-play-circle glyph-action"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4" ng-repeat="col in [0]">
          <div class="well well-sm well-tile">
            <div class="row">
              <div class="col-xs-1">
                <span class="glyphicon glyphicon-facetime-video"></span>
              </div>
              <div class="col-xs-9">
                <div class="tile-name">
                  How to Measure Usability
                </div>
              </div>
              <div class="col-xs-2 text-right">
                <span class="glyphicon glyphicon-resize-full"></span>
              </div>
            </div>
            <div class="row voffset1">
              <div class="col-xs-12">
                <div class="tile-text">
                  A slideshare presentation detailing top methods for measuring usability.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 voffset2">
                <div class="tile-count">&#9656; 12 comments</div>
              </div>
              <div class="col-xs-6 text-right voffset3">
                <span class="glyphicon glyphicon-exclamation-sign glyph-action"></span>
                <span class="glyphicon glyphicon-play-circle glyph-action"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4" ng-repeat="col in [0]">
          <div class="well well-sm well-tile">
            <div class="row">
              <div class="col-xs-1">
                <span class="glyphicon glyphicon-facetime-video"></span>
              </div>
              <div class="col-xs-9">
                <div class="tile-name">
                  Bersin by Deloitte Anticipates Global Spending on Learning Management Systems to Grow 21 Percent
                </div>
              </div>
              <div class="col-xs-2 text-right">
                <span class="glyphicon glyphicon-resize-full"></span>
              </div>
            </div>
            <div class="row voffset1">
              <div class="col-xs-12">
                <div class="tile-text">
                  Bersin by Deloitte today announced new research that anticipates spending on learning management systems (LMS) will grow 21 percent to more than $2.5 billion in 2014, an increase. Detailed findings are included in Bersin by Deloitte’s new research report, The Definitive Buyer’s Guide to the Global Market for Learning Management Solutions, available to WhatWorks® members and for sale to non-members. Summarized in a complimentary WhatWorks market brief, the research shows that the global LMS market is growing rapidly in all geographies and segments, led by increased sales in North America and driven by an expanded role for the LMS in most organizations.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 voffset2">
                <div class="tile-count">&#9656; 12 comments</div>
              </div>
              <div class="col-xs-6 text-right voffset3">
                <span class="glyphicon glyphicon-exclamation-sign glyph-action"></span>
                <span class="glyphicon glyphicon-play-circle glyph-action"></span>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <!-- SUBSCRIPTION & INTERESTS -->
    <div class="col-md-3">

      <div class="row">
        <div class="col-xs-12">
          <div class="header-2">
            Playlist Subscriptions
          </div>
          <ul class="list-unstyled voffset3">
            <li>Golden Aluminum Essentials
              <span class="glyphicon glyphicon-trash glyph-action red pull-right" />
            </li>
            <li>CEO Recommendations
              <span class="glyphicon glyphicon-trash glyph-action red pull-right" />
            </li>
            <li>Finance Trends
              <span class="glyphicon glyphicon-trash glyph-action red pull-right" />
            </li>
            <li>Top Process Courses
              <span class="glyphicon glyphicon-trash glyph-action red pull-right" />
            </li>
          </ul>
          <md-button class="md-primary pull-right">
            Edit Subscriptions
          </md-button>
        </div>
      </div>

      <div class="row voffset3">
        <div class="col-xs-12">
          <div class="header-2 padding-bottom1">
            Interests
          </div>
          <div>
            You have chosen <a>Leadership & Management</a>, <a>Human Resources</a>, and <a>Process Improvement</a> as your interests.
          </div>
          <md-button class="md-primary pull-right">
            Edit Interests
          </md-button>
        </div>
      </div>

    </div>

  </div> <!-- ROW -->

  </form>

</div>
