<!-- Main content area -->
<div class="container-fluid">

  <form>

    <div class="row">

      <div class="col-md-3">
        <div class="well well-tile">
          <md-checkbox ng-model="cbTmp" aria-label="Communications">
            Communications
          </md-checkbox>
          
        </div>
      </div>

      <div class="col-md-3">
        <div class="well well-tile">
          Computer Science
        </div>
      </div>

      <div class="col-md-3">
        <div class="well well-tile">
          Data Science
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="well well-tile">
          Information Security
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-3">
        <div class="well well-tile">
          Communications
        </div>
      </div>

      <div class="col-md-3">
        <div class="well well-tile">
          Computer Science
        </div>
      </div>

      <div class="col-md-3">
        <div class="well well-tile">
          Data Science
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="well well-tile">
          Information Security
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-3">
        <div class="well well-tile">
          Communications
        </div>
      </div>

      <div class="col-md-3">
        <div class="well well-tile">
          Computer Science
        </div>
      </div>

      <div class="col-md-3">
        <div class="well well-tile">
          Data Science
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="well well-tile">
          Information Security
        </div>
      </div>

    </div>

  </form>

</div>
