<!-- Main content area -->
<div class="container-fluid" ng-controller="InterestsCtrl">

  <form>

    <div class="row" ng-repeat="row in [0,1,2]">

      <div class="col-md-3" ng-repeat="col in [0,1,2,3]">
        <div class="well well-tile">
          <div class="row">
            <div class="col-xs-12 text-center">
              <img ng-src="{{ interests[(row*3)+col].img_url }}">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-10">
              <div class="tile-name">{{ interests[(row*3)+col].name }}</div>
            </div>
            <div class="col-xs-2">
              <md-checkbox ng-model="cbTmp" aria-label="{{ interests[(row*3)+col].name }}" class="tile-checkbox" />
            </div>
          </div>
        </div>
      </div>

    </div>

  </form>

</div>
