<h4>Welcome to EdgeRocket!</h4>
<h5>Log in here: <%= link_to @hostname + '/users/sign_in', @hostname + '/users/sign_in' %> to login.</h5>
<p>Use the username (email address) and password that your administrator designated when creating your account.</p>
<p>Take full advantage of the resources in EdgeRocket to accelerate your learning, growth and success!</p>
<p>Comments or questions? Contact us at support@edgerocket.co.</p>