<h5>Log in <%= link_to "here", root_path %>.</h5>
<p>Use the username (<%= @user.email %>) and password that your administrator designated when creating your account.</p>
<p>Take full advantage of the resources in EdgeRocket to accelerate your learning, growth and success!</p>
<p>Comments or questions? Contact us at support@edgerocket.co</p>