<!-- Main content area -->
<div class="container-fluid" ng-controller="EditPasswordCtrl">

  <div class="row">
    <div class="col-lg-12">

      <div class="panel panel-info"> 
        <div class="panel-heading">Change Password for {{user.first_name}} {{user.last_name}}</div>
        <div class="panel-body">
    
          <form role="form" name="addForm">

              <div class="row voffset2" ng-if="!statusDone">
                <div class="col-md-4">
                  <input type="password" class="form-control form-control-user" name="oldEmplPassword" 
                    placeholder="Current Password" ng-model="newUser.current_password">
                  </input>
                </div>
                <div class="col-md-4">
                  <input type="password" class="form-control form-control-user" name="newEmplPassword" 
                    placeholder="New Password" ng-model="newUser.new_password" required>
                  </input>
                </div>
                <div class="col-md-4">
                  <input type="password" class="form-control form-control-user" name="newEmplPassword2" 
                    placeholder="Confirm New Password" ng-model="newUser.new_password2">
                  </input>
                </div>
              </div> <!-- Row -->

              <div class="row voffset2" ng-if="statusDone">
                <div class="col-md-12">
                  <span class="text-success">Pasword changed successfully</span>
                </div>
              </div> <!-- Row -->

              <div class="row voffset3">
                <div class="col-md-6">
                  <span class="error red" ng-show="addForm.newEmplPassword.$error.required">* Password required, 8 characters minimum</span>
                  <br/>
                  <span class="error red" ng-if="serverError">* {{serverError}}</span>
                </div>
                <div class="col-md-6">
                  <div class="pull-right" ng-if="!statusDone">
                    <button class="btn btn-sm btn-success" ng-click="updateUserPassword()">
                      Save Changes
                    </button>
                    <button class="btn btn-sm btn-warning" ng-click="cancel()">
                      Skip this time
                    </button>
                  </div>
                  <div class="pull-right" ng-if="statusDone">
                    <button class="btn btn-sm btn-success" ng-click="cancel()">
                      User Home
                    </button>
                  </div>
                </div>
              </div> <!-- Row -->

          </form>
        </div>
      </div> <!-- Panel --> 
      
    </div>
  </div> <!-- Row -->

</div>