<h1>EdgeRocket</h1>
<div class="topcorner">
<%= form_tag("products#index", method: "get") do %>
  <%= text_field_tag('user',"User") %>
  <%= text_field_tag('password',"Password") %>
  <%= submit_tag("Login") %>
<% end %>
</div>