<!-- DASH -->
<div class="container-fluid" ng-controller="DashboardCtrl">

	<div class="row">
	  	<div class="col-lg-6">
			<div class="panel panel-info">
				<!-- TODO -->
	  			<div class="panel-heading"><%= @account.company_name if !@account.nil? %> Users</div>
	  			<div class="panel-body">
					<table class="table table-condensed">
						<thead>
							<tr>
								<!-- TODO remove demo multiplier -->
								<th>Total Users</th>
								<th><%= @users[:total_count] =%></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Admin Users</td>
								<td><%= @users[:num_admins] =%></td>
							</tr>
							<tr>
								<td>Standard Users</td>
								<td><%= @users[:total_count] - @users[:num_admins] =%></td>
							</tr>
						</tbody>
					</table>
					<button class="btn btn-primary btn-sm" ng-click="manageUsers()">Manage Users</button>
				</div>
			</div>
		</div>

<!-- TODO
<div class="col-lg-6">
	<div class="panel panel-info">
  		<div class="panel-heading">Budget</div>
  		<div class="panel-body">Panel content</div>
	</div>
</div>
-->

		<div class="col-lg-6">
			<div class="panel panel-info">
		  		<div class="panel-heading">Number of Courses per user</div>
		  		<div class="panel-body panel-chart">
		 		    <div ac-chart="usersChartType" ac-data="usersChartData" ac-config="usersConfig" id="usersChart" class="chart" style="width: 100%; height:200px;"></div>
		  		</div>
			</div>
		</div>

		<div class="col-lg-6">
			<div class="panel panel-info">
		  		<div class="panel-heading">Learning Activity</div>
		  		<div class="panel-body panel-chart">
	 		    <div ac-chart="activityChartType" ac-data="activityChartData" ac-config="activityConfig" id="activityChart" class="chart" style="width: 100%; height:300px;"></div>
		  		</div>
			</div>
		</div>

		<div class="col-lg-6" ng-if="options_json.dashboard_demo">
			<div class="panel panel-info">
		  		<div class="panel-heading">Number of Classes by Course Topic</div>
		  		<div class="panel-body panel-chart">
		 		    <div ac-chart="topicsChartType" ac-data="topicsChartData" ac-config="topicsConfig" id="topicsChart" class="chart" style="width: 100%; height:300px;"></div>
		  		</div>
			</div>
		</div>

		<div class="col-lg-6" ng-if="options_json.dashboard_demo">
			<div class="panel panel-info">
		  		<div class="panel-heading">Number of Classes by Company Department</div>
		  		<div class="panel-body panel-chart">
		 		    <div ac-chart="deptChartType" ac-data="deptChartData" ac-config="deptConfig" id="deptChart" class="chart" style="width: 100%; height:300px;"></div>
		  		</div>
			</div>
		</div>

	</div>
</div>