<!-- DASH -->
<div class="col-lg-6">Budget</div>
<div class="col-lg-6">Number of Courses per user</div>
<div class="col-lg-6">Number of Classes by Topic</div>
<div class="col-lg-6">Users</div>
<div class="col-lg-6">Account</div>
