<!-- DASH -->
<div class="col-lg-6">
	<div class="panel panel-default">
  		<div class="panel-heading">Budget</div>
  		<div class="panel-body">Panel content</div>
	</div>
</div>
<div class="col-lg-6">
	<div class="panel panel-default panel-heading">Number of Courses per user</div>
</div>
<div class="col-lg-6">
	<div class="panel panel-default panel-heading">Number of Classes by Topic</div>
</div>
<div class="col-lg-6">
	<div class="panel panel-default panel-heading">Users</div>
</div>
<div class="col-lg-6">
	<div class="panel panel-default panel-heading">Account</div>
</div>
