/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.red {
  color: red;
}

.yellow {
  color: rgb(255, 255, 108);
}

.orange {
  color: orange;
}

.blue {
  color: #5bc0de;
}

.green {
  color: rgb(40, 184, 40);
}

.gray {
  color: #929292;
}

// Use for even rows in some places like lists of users
.bg-color-even-gray {
  background-color: #F1F1F1;
}

.bottom0 {
  margin-bottom: 0px;
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}

// NAVBAR

// Main navbar fonts and colors

nav.navbar {
  font-size: 15px;
  background-color: #003050;

  // keep default marking at the bottom unless we need more branding later
  //margin-bottom: 5px;
}


.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #455786 !important;
}

.navbar-inverse {
  //  background-color: #005F7E;
}

nav.navbar-default, .navbar-nav > li > .dropdown-menu {
  background-color: #003050; // Main bg color for navbar
}

// override for the 'Home' navigation link
a.navbar-brand {
  font-size: inherit;
  padding-top: 2px;
}

a.navbar-brand-2nd {
  padding-left: 10px;
}

// Profile menu navigation goes together with thumbnail
a.dropdown-toggle.nav-profile {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

// Profile menu thumbnail
.nav-thumb {
  height: 45px;
  padding-right: 5px;
}

// Vertical offset for rows

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

// Generic paddings
.padding-left2 { padding-left: 10px }
.padding-left3 { padding-left: 15px }

// Common widths

.width-100pct {
  width: 100%;
}

// Progress bars

.course-progress {
  // NOTE not used yet
}

div.progress {
  width: 100px;
  height: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

// Links for courses
// TODO: figure how not to use !important

.course-link {
  // The default color for Yeti seems to be fine
  //color: #FFD58B !important;
  text-decoration: none !important;
}

.course-row {
  border-bottom: #DDDDDD 1px solid;
  padding-bottom: 5px;
  padding-top: 8px;
}

// same as course-row but for the last row
.course-last-row {
  padding-bottom: 5px;
  padding-top: 8px;
}

// column
.course-col {
  padding: 5px;
}
.course-col-25px {
  width: 25px;
}
.course-col-60px {
  width: 60px;
  min-width: 60px;
}
.course-col-100px {
  width: 100px;
  min-width: 100px;
}

// Making wells differnt from panels
div.panel-body .well {
  background-color: #F5F5F5;
  padding: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

div.panel-body .well-sm {
  margin-bottom: 10px;
  padding: 0px;
}

.panel-subheading {
  font-weight: 400;
}

// ---- Glyphs

// Bigger glyphs
span.glyph-big {
  font-size: 18px;
}

.glyph-action {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.glyph-action-inline {
  cursor: pointer;
}

// List items for trees

.glyph-label {
  margin-left: 5px;
  margin-right: 15px;
  white-space: nowrap;
}

.glyph-label-inline {
  margin-right: 15px;
  white-space: nowrap;
}

.list-root {
  padding-left: 15px;
}

.list-leaf {
  list-style-type: none;
}

// Blockquote smaller font

.blockquote-reverse {
  font-size: 15px;
}

// Provider logo on various search screen

.img-provider-logo {
  max-width: 100px;
  max-height: 25px;
}

div.search-tile {
  width: 280px;
  min-height: 150px; 
  display: inline-block;
  vertical-align: top;
}

// Panel for charts

.panel-chart {
  background-color: #FFFFFF;
}

// Star rating
.rating-unknown {
  color: #868686;
}

.rating-right {
  float: right;
  white-space: nowrap;
}

// Accordion

.panel-default > .panel-heading {
  // padding-bottom: 1px;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
  padding: 0;
}

.accordion-description {
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  font-size: 11pt;
  font-weight: 500;
}

.accordion-course {
  padding-left: 25px;
  padding-bottom: 5px;
}

h4.panel-title {
  font-weight: bolder;
}

h4.panel-title a:hover {
  text-decoration: none;
}

// Duration labels

.label-duration {
  font-size: 8pt;
}

// For discussions

.panel-discussions {
  max-height: 400px;
  overflow-y: auto;
}

.textarea-discussions {
  min-height: 100px;
}

span.input-group-btn .btn-post-discussions {
  margin-left: 5px !important;
}

// Drop down buttons for playlists

.btn-playlists {
  padding-right: 5px;
}

// Buttons for course status
.btn-toolbar-status {
  white-space: nowrap;
}

div.btn-toolbar > .btn-xs {
  margin-left: 0px; 
}

// Simple alert message
.alert-simple {
  padding: 5px;
  color: #5cb85c;
}

// Remove margin form alerts

div.alert.alert-danger {
  margin-bottom: 0;
  &:last-of-type {
    margin-bottom: 21px;
  }
}



// Text for cells to align with big glyphs

.text-cell {
  font-size: 18px;
  padding: 5px;
}

// Custom form controls for user editing

input.form-control-user {
  display: inline;
  width: 100%;
}


input.form-control-49pct {
  display: inline;
  width: 49%;
}

input.form-control-number {
  display: inline;
  width: 4em;
}

// General panels
div.panel-info > div.panel-heading {
  background-color: #EDFDFF;
  color: #436983;
  font-weight: 600;
}

// Grid UI component
.gridStyle {
    border: 1px solid transparent;
    border-color: #3db5d8;
    width: 100%; 
    min-height: 250px;
}

// Keep divs inline without breaking line

div.inline-col-left {
  float: left;
  padding-right: 5px;
  min-width: 25px;
}

div.inline-col-wrap {
    overflow:hidden;
}

div.inline-col-center {
}

div.inline-col-right {
  float: right;
}

// File upload styling

.file-upload {
  position: relative;
  overflow: hidden;
  margin: 0px;
  width: 100%;
}
.file-upload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

// Profile
.img-profile {
  width: 100px; 
}

// Checkboxes with glyphs

.check-with-glyph {
  padding-top: 5px;
}

// Bages

span.badge {
  background-color: #5bc0de; // blue
  color: white;
}

.selected-skill {
  border: 2px solid blue;
}

.recommendation-modal {

  .modal-body {
    max-height: 500px;
    overflow-y: scroll;
  }

}

.panel-body-scroll {
  max-height: 500px;
  overflow-y: auto;
}

.indent-left {
  margin-left: 20px;
}

.indent-left2 {
  margin-left: 35px;
}


#analytics_chart {
  min-height: 275px;
}

.provided-by {
  margin-bottom: 5px;
  color: #A0A0A0;
  font-weight: 500;
}

// User home page tiles
.home-font {
  font-family: 'Cabin', sans-serif;
  color: #737373;
  font-size: larger;
}

a.btn-default {
  background-color: white;
  border: 0;
}

ol.breadcrumb {
  background-color: white;
  border: 0;
  margin-bottom: 8px;
}

div.panel.panel-info {
  border-color: transparent;
}

div.panel-heading {
  border-bottom: transparent;
}

#current-page-info{
  text-align: center;
}