/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.red {
  color: red;
}

.yellow {
  color: rgb(255, 255, 108);
}

.blue {
  color: #5bc0de;
}

.green {
  color: rgb(40, 184, 40);
}

.bottom0 {
  margin-bottom: 0px;
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// Vertical offset for rows

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

// Progress bars

.course-progress {
  // TODO remove
}

div.progress {
  width: 100px;
  height: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
}

// Links for courses
// TODO: figure how not to use !important

.course-link {
  color: #FFD58B !important;
  text-decoration: none !important;
}

// Making wells differnt from panels
div.panel-body .well {
  background-color: #6C8196;
  padding: 10px;
  margin-bottom: 10px;
}

div.panel-body .well-sm {
  margin-bottom: 10px;
  padding: 0px;
}

// Bigger glyphs
.glyphicon-remove-sign, .glyphicon-plus-sign, .glyphicon-ok-sign {
  font-size: 1.4em;
}

// List items for trees

.glyph-label {
  margin-left: 5px;
  margin-right: 15px;
}

.list-root {
  padding-left: 15px;
}

.list-leaf {
  list-style-type: none;
}

// Blockquote smaller font

.blockquote-reverse {
  font-size: 15px;
}

// Provider logo on various search screen

.img-provider-logo {
  max-width: 100px;
  max-height: 25px;
}

// Panel for charts

.panel-chart {
  background-color: #A3A3A3;
}

// Star rating
.rating-unknown {
  color: #868686;
}

.rating-right {
  float: right;
}

// Accordion

.panel-default > .panel-heading {
  // padding-bottom: 1px;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
  padding: 0;
}

.accordion-description {
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  font-size: 11pt;
}

.accordion-course {
  padding-left: 25px;
  padding-bottom: 5px;
}

h4.panel-title {
  font-weight: bolder;
}

h4.panel-title a:hover {
  text-decoration: none;
}
