<div class="container">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-2"><%= link_to 'Add a course', 'TODO' %></div>
  </div>
  <% @playlist.products.each do |product| %>
  <div class="row">
        <div class="col-lg-3"><%= product.name %>
          <%= link_to 'Delete', 'TODO', method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
  </div>
  <% end %>
</div>