<div class="container-fluid" ng-controller="PlaylistsCtrl">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-info">
        <div class="panel-heading">Playlists</div>
        <div class="panel-body">
          <div class="row" ng-repeat="pl in playlists">
            <div class="col-lg-3">{{pl.title}}</div>
            <div class="col-lg-2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>