<!-- Modal prompt to confirm deletion of an item window -->
<script type="text/ng-template" id="promptItemModal.html">
  <div class="modal-header">
    <h4>Warning</h4>
  </div>
  <div class="modal-body">

    Deleting an item from Playlits will remove it from the playlist, but it will not remove it from users who arleady have this item in their list of courses.
    Do you want to proceed?

  </div>
  <div class="modal-footer">
      <button class="btn btn-sm btn-danger" ng-click="proceed()">Yes, delete it</button>
      <button class="btn btn-sm btn-warning" ng-click="cancel()">No, don&#39;t do anyting</button>
  </div>
</script>

<!-- Grid Cell template for Mandatory  -->
<script type="text/ng-template" id="cellMandatory.html">
  <div class="ngCellText text-center">
    <span class="glyphicon glyphicon-warning-sign glyph-big orange" 
      ng-if="row.getProperty(col.field)" tooltip="Mandatory" tooltip-append-to-body="true">
    </span>
  </div>
</script>

<!-- Grid Cell template for Actions -->
<script type="text/ng-template" id="cellActions.html">
  <div class="ngCellText text-center">
    <span class="glyphicon glyphicon-list glyph-big glyph-action" 
      ng-click="manageCourses(row.getProperty(col.field))" tooltip="Manage Courses in Playlist" tooltip-append-to-body="true">
    </span>
    <span class="glyphicon glyphicon-edit glyph-big glyph-action" 
      ng-click="editPlaylist(row.getProperty(col.field))" tooltip="Edit Playlist" tooltip-append-to-body="true">
    </span>
    <span class="glyphicon glyphicon-trash glyph-big glyph-action red" 
      ng-click="removePlaylist(row.getProperty(col.field))" tooltip="Delete Playlist" tooltip-append-to-body="true">
    </span>
  </div>
</script>

<!-- Grid Cell template for Actions on a course -->
<script type="text/ng-template" id="cellCourseActions.html">
  <div class="ngCellText text-center">
    <span class="glyphicon glyphicon-trash glyph-big glyph-action red" 
      ng-click="removeCourse(row.getProperty(col.field))" tooltip="Remove from Playlist" tooltip-append-to-body="true">
    </span>
  </div>
</script>

<!-- Main content area -->
<div class="container-fluid" ng-controller="PlaylistsCtrl">
  <div class="row" ng-if="!playlistMode">
    <div class="col-lg-12">

      <div class="panel panel-info"> <!-- This panel is displayed in Manage Courses mode -->
        <div class="panel-heading">Courses in Playlist: {{currentPlaylist.title}}</div>
        <div class="panel-body">

          <div class="gridStyle" ng-grid="coursesGridOptions"></div>

          <div class="pull-right voffset2">
            <form role="form">
              <button class="btn btn-sm btn-success" ng-click="saveRanks()">
                Save Changes
              </button>
              <button class="btn btn-sm btn-warning" ng-click="cancelManageCourses()">Back to Playlists</button>
            </form>
          </div>
          <div class="text-info voffset1">* Edit rank in place</div>
          <div class="text-success voffset1">{{rankSuccessMessage}}</div>
          <div class="text-danger voffset1">{{rankErrorMessage}}</div>

        </div>
      </div> 

    </div>
  </div> <!-- Row --> <!-- ng-if="!playlistMode" -->

  <div class="gridStyle" ng-grid="gridOptions" ng-if="playlistMode"></div>

  <div class="row voffset3" ng-if="editModeIndex < 0 && addingMode == false && playlistMode == true">
    <div class="col-lg-12">
      <div class="pull-right">
        <button class="btn btn-sm btn-success" ng-click="addPlaylist()">
          Add Playlist
        </button>
      </div>
    </div>
  </div> <!-- Row -->

  <!-- A row to enter values for Playlist record in Edit/Add mode -->
  <div class="row voffset3" ng-if="editModeIndex >= 0 || addingMode == true">
    <div class="col-lg-12">

      <div class="panel panel-info"> <!-- Playlist New mode -->
        <div class="panel-heading" ng-if="addingMode == true">Add Playlist</div>
        <div class="panel-heading" ng-if="addingMode == false">Edit Playlist</div>
        <div class="panel-body">
    
          <form role="form" name="addForm">

              <div class="row">
                <div class="col-md-6">
                  <input type="text" class="form-control-user form-control" name="newTitle" 
                    placeholder="Title" ng-model="newPlaylist.title" required>
                  </input>
                </div>
                <div class="col-md-6">
                  <span class="glyphicon glyphicon-{{newPlaylist.mandatory_class}} glyph-big glyph-action" ng-click="toggleMandatory()"></span>
                  <span class="glyph-label">Mandatory</span>
                </div>
              </div> <!-- Row -->

              <div class="row voffset2">
                <div class="col-md-6 text-cell">
                  <textarea id="newDescription" cols=40 rows=3 class="form-control" placeholder="Description" 
                    ng-model="newPlaylist.description">
                  </textarea>
                </div>
              </div> <!-- Row -->

              <div class="row voffset3">
                <div class="col-md-6">
                  <span class="error red" ng-show="addForm.newTitle.$error.required">* Title required</span>
                </div>
                <div class="col-md-6">
                  <div class="pull-right">
                    <button class="btn btn-sm btn-success" ng-click="createPlaylist()" 
                      ng-disabled="addForm.newTitle.$error.required" ng-show="editModeIndex < 0">
                      Create
                    </button>
                    <button class="btn btn-sm btn-success" ng-click="updatePlaylist()" 
                      ng-disabled="addForm.newTitle.$error.required" ng-if="editModeIndex >= 0">
                      Save Changes
                    </button>
                    <button class="btn btn-sm btn-warning" ng-click="cancelEditingPlaylist()" ng-if="editModeIndex >= 0 || addingMode == true">
                      Cancel
                    </button>
                  </div>
                </div>
              </div> <!-- Row -->

          </form>
        </div>
      </div> <!-- Panel --> 
      
    </div>
  </div> <!-- Row -->

</div>