<div class="container-fluid" ng-controller="PlaylistsCtrl">
  <div class="row">
    <div class="col-lg-12">

      <div class="panel panel-info"  ng-if="playlistMode"> <!-- This panel is displayed in Playlits CRUD mode -->
        <div class="panel-heading">Playlists</div>
        <div class="panel-body">
          <form role="form">
            <div class="row" ng-repeat="pl in playlists">

              <div class="col-lg-3">
                <div class="text-cell" ng-if="editModeIndex != $index">{{pl.title}}</div>
                <input type="text" class="form-control" id="editPlaylistID" placeholder="Playlist Name" 
                  ng-if="editModeIndex == $index" ng-model="pl.title">
                </input>
              </div>

              <div class="col-md-2"> 
                <span ng-if="editModeIndex < 0">
                  <span class="glyphicon glyphicon-list glyph-big glyph-action" 
                    ng-click="manageCourses(pl)" tooltip="Manage Courses in this Playlist">
                  </span>
                  <span class="glyphicon glyphicon-edit glyph-big glyph-action" 
                    ng-click="editPlaylist(pl,$index)" tooltip="Edit Playlist">
                  </span>
                  <span class="glyphicon glyphicon-trash glyph-big glyph-action red" 
                    ng-click="removePlaylist(pl,$index)" tooltip="Remove Playlist">
                  </span>
                </span>
                <span ng-if="editModeIndex == $index">
                  <span class="glyphicon glyphicon-save glyph-big glyph-action green" 
                    tooltip="Update Playlist" ng-click="updatePlaylist(pl,$index)">
                  </span>
                  <span class="glyphicon glyphicon-ban-circle glyph-big glyph-action yellow" 
                    tooltip="Cancel editing Playlist" ng-click="cancelEditingPlaylist()">
                  </span>
                </span>
              </div>

            </div>

            <div class="row" ng-if="editModeIndex < 0">
              <div class="col-lg-3">
                <input type="text" class="form-control" id="newPlaylistID" 
                  placeholder="New Playlist Name" ng-model="newPlaylist.title">
                </input>
              </div>

              <div class="col-lg-1"> 
                <span class="glyphicon glyphicon-plus glyph-big glyph-action green" 
                  tooltip="Create new Playlist" ng-click="createPlaylist()">
                </span>
              </div>

            </div>
          </form>
        </div>
      </div> <!-- ng-if="playlistMode" -->

      <div class="panel panel-info"  ng-if="!playlistMode"> <!-- This panel is displayed in Manage Courses mode -->
        <div class="panel-heading">Courses in Playlist: {{currentPlaylist.title}}</div>
        <div class="panel-body">

          <form role="form">
            <div class="row" ng-repeat="crs in currentCourses">

              <div class="col-lg-3">
                <div class="text-cell">{{crs.name}}</div>
              </div>

              <div class="col-md-2"> 
                <span ng-if="editModeIndex < 0">
                  <span class="glyphicon glyphicon-trash glyph-big glyph-action red" 
                    ng-click="removeCourse(crs,$index)" tooltip="Remove Course from Playlist">
                  </span>
                </span>
              </div>

            </div>
            <button class="btn btn-success" ng-click="cancelManageCourses()">Back to Playlists</button>
          </form>

        </div>
      </div> <!-- ng-if="!playlistMode" -->

    </div>
  </div>
</div>