<div class="container-fluid" ng-controller="PlaylistsCtrl">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-info">
        <div class="panel-heading">Playlists</div>
        <div class="panel-body">
          <div class="row" ng-repeat="pl in playlists">
            <div class="col-lg-1"> 
                <span class="glyphicon glyphicon-list glyph-action" 
                  ng-click="manageCourses(pl)" tooltip="Manage Courses in this Playlist">
                </span>
                <span class="glyphicon glyphicon-edit glyph-action" 
                  ng-click="editPlaylist(pl)" tooltip="Edit Playlist">
                </span>
                <span class="glyphicon glyphicon-remove glyph-action red" 
                  ng-click="removePlaylist(pl,$index)" tooltip="Remove Playlist">
                </span>
            </div>
            <div class="col-lg-3">{{pl.title}}</div>
          </div>

          <div class="row">
            <div class="col-lg-1"> 
            </div>
            <div class="col-lg-4">
              <div class="input-group">
                <input type="text" class="form-control" id="newPlaylist" 
                  placeholder="Playlist Name" ng-model="newPlaylist">
                </input>
                <span class="input-group-addon glyphicon glyphicon-plus" 
                  tooltip="Create new playlist" ng-click="addNewPlaylist()">
                </span>
              </div> 
            </div>
            <div class="col-lg-1"> 
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>