<script type="text/ng-template" id="cellActionsProcess.html">
  <div class="ngCellText text-center">
    <!--<span class="glyphicon glyphicon-ok glyph-big glyph-action"-->
          <!--ng-click="approve(row.entity.id)" tooltip="Approve" tooltip-append-to-body="true">-->
    <!--</span>-->
    <!--<span class="glyphicon glyphicon-remove glyph-big glyph-action"-->
          <!--ng-click="" tooltip="Reject" tooltip-append-to-body="true">-->
    <!--</span>-->
  </div>
</script>

<div class="pending-flash"></div>
<div class="container-fluid" ng-controller="SystemCompaniesCtrl">
  <h1>Sysop Companies</h1>
  <div class="gridStyle" ng-grid="accountsTable">
  </div>
</div>