<script type="text/ng-template" id="cellActions.html">
  <div class="ngCellText text-center">
    <span class="glyphicon glyphicon-ok glyph-big glyph-action"
          ng-click="activateCompany(row.getProperty(col.field))" tooltip="Activate Company" tooltip-append-to-body="true">
    </span>
    <span class="{{checkIfDisabled}}">
    </span>
  </div>
</script>

<script type="text/ng-template" id="cellDisabled.html">
  <div class="ngCellText text-center">
    <span class="glyphicon glyphicon-trash glyph-big glyph-action red"
          ng-click="disableCompany(row.getProperty(col.field))" tooltip="Disable Company" tooltip-append-to-body="true">
    </span>
  </div>
</script>

<div class="pending-flash"></div>
<div class="container-fluid" ng-controller="SystemCompaniesCtrl">
  <h1>Sysop Companies</h1>
  <div class="gridStyle" ng-grid="accountsTable">
  </div>
</div>

