<!-- Course Details -->
<div ng-init="product_id=<%= @product.id %>;">

	<!-- Main content area -->
	<div class="container-fluid" ng-controller="ProductsCtrl">

		<div class="row">
			<div class="col-lg-12">

				<div class="panel panel-info"> 
					<div class="panel-heading">{{ course.name }}</div>
					<div class="panel-body">
						<!-- Rating -->
						<div class="rating-right">
					    	<div class="">{{rating.description}}</div>
							<rating class="{{rating.color}}" ng-model="rating.display" max="5" readonly="rating.read_only" 
								on-leave="leavingRating()">
							</rating>
						</div>

						<img src="{{ course.vendor.logo_asset_url }}" class="img-provider-logo"></img>
						<div class="">{{ course.authors }}</div>
						<div class="">{{ course.school }}</div>
						<div ng-if="course.description != null && course.description != ''" class="well">{{ course.description }}</div>
						<div class="text-right">
							<span>{{ course.price | currency }}</span>
							<span ng-if="course.price > 0 && course.price_free"> / </span>
							<span class="label label-info" ng-if="course.price_free">Free</span>
						</div>
						<div class="text-right voffset5">
							<button class="btn btn-sm btn-success" ng-click="goto()">Go to course</button>
							<button class="btn btn-sm btn-warning" ng-click="backToMyCourses()">My Courses</button>
						</div>
					</div>
				</div>

			</div>
		</div> <!-- Row -->

		<div class="row">
			<div class="col-lg-12">

				<div class="panel panel-info"> 
					<div class="panel-heading">Comments</div>
					<div class="panel-body">

						<div class="row">
							<div class="col-xs-12">
								<textarea class="form-control textarea-discussions" placeholder="Post comments or reviews" ng-model="newReview.title">
								</textarea>
							</div>
						</div> <!-- Row -->

						<div class="row voffset1">
							<div class="col-xs-12">
								<div class="pull-right">
									<span ng-if="options_json.discussions == 'gplus'">
										<span class="glyphicon glyphicon-{{options_json.gbox_class}} glyph-big glyph-action" ng-click="toggleGBox()"></span>
										<span class="glyph-label">Also post to Google+</span>
									</span>
									<button class="btn btn-sm btn-success btn-post-discussions" type="button" ng-click="createReview()">Submit</button>
								</div>
							</div>
						</div> <!-- Row -->

						<div class="well voffset1" ng-repeat="review in reviews">
							{{ review.title }}
							<div class="text-success text-right">{{review.user.first_name}} {{review.user.last_name}}</div>
						</div>

					</div>
				</div>

			</div>
		</div>


	</div>

</div>