<div class="container-fluid">

  <form name="mainform" role="form" >

  <div class="panel panel-info" ng-controller="ProfileCtrl"> <!-- Profile update mode -->
    <div class="panel-heading">
      User profile: <span class="text-info">{{user.first_name}} {{user.last_name}}</span>
    </div>

    <div class="panel-body">

      <div class="row">

        <div class="col-xs-offset-2 col-md-2" ng-controller="UploadCtrl ">
            <div class="img-profile" id="file-list">
              <img id="Photo" src="/profile/get_profile_photo" class="img-thumbnail"/>
              <div class="file-upload btn btn-primary btn-xs">
                  <span>Upload Photo</span>
                  <input type="file" class="upload" ng-model="files" file-change />
              </div>
            </div>
        </div>
 
        <div class="col-md-6" >
            <div class="row voffset3">
              <div class="col-md-6">
                <input name="first_name" type="text" class="form-control" placeholder="First Name"
                  ng-model="user.first_name">
                </input>
              </div>
              <div class="col-md-6">
                <input name="last_name" type="text" class="form-control" placeholder="Last Name"
                  ng-model="user.last_name">
                </input>
              </div>
            </div>
            <div class="row voffset3">
              <div class="col-md-6">
                <input name="title" type="text" class="form-control" placeholder="Title"
                  ng-model="profile.title">
                </input>
              </div>
              <div class="col-md-6">
                <input name="employee_identifier" type="text" class="form-control" placeholder="Employee Id"
                  ng-model="profile.employee_identifier">
                </input>
              </div>
            </div>

        </div>

      </div> <!-- Row -->

      <div class="row voffset3">
        <div class="col-md-12">
          <div class="pull-right">
            <button class="btn btn-sm btn-success" ng-click="updateProfile(user,profile)">
              Save Changes
            </button>
          </div>
        </div>
      </div>

      <div class="row" ng-if="statusDone">
        <div class="col-md-12">
          <span class="text-success">* Profile changed successfully</span>
        </div>
      </div>

    </div>
  </div> <!-- Panel -->

  </form>

</div>